.footer--offices{
	
	a{
	
		@include bodyfont;
	}
}




/* -----------------------------------------------------------------------------------------------------------
															    
											Diversity
															    
------------------------------------------------------------------------------------------------------------- */

.section--diversity{

	
	.carousel-pagination{
	
		top:calc(50% + 80px);
	}
}
