section, .page--menu, .page--content{
 
  position: relative;
  @include soft--ends(20px);
}



.modal-form{

display: block;
	 .modal-content{
		
		width:100vw;
		min-height: 100vh;
		
	}
	.content{
		padding:20px 30px;
		
	}

}


.section--story-module{
	.copy{
		width:100%;
				
		&:first-of-type{
		
			margin-right: 0%;
			width:100%;
		}
	}
	.content--inner{
		display: block;
		min-height: inherit;
		margin-bottom: 80px;
	}
	
}



.section--people{
	.columns .column{
		width:100%;
		&:nth-of-type(n){
			margin-right: 0;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	
	
}

.people-modal{
	
	.section--person{
	
		
		.copy{
			width: 100%;
		}
		
		.image{
			width:100%;
			max-width:260px;
			margin-bottom: $mb;
		}
		
		.links{
		
			a{
			
				height: 20px;
				width:30px;
			}
		}
	}
	.close-people-modal {
		width:50px;
		height: 50px;
		}
		
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Module
															    
------------------------------------------------------------------------------------------------------------- */

.section--module{
	&.has-bg .content{
		  @include soft--sides(10px);
		  .content--inner{
			    @include soft--sides(20px);
			    @include soft--ends(35px);
		  }

	}
	.content .copy{
			  max-width: $mw;
	}	 
	///has a background color
	&.has-bg{
	
		picture img{
		
			bottom:-2px;
			
		}
	}
	&.has-bg + .no-bg{
		padding-top:50px;
		padding-bottom: 50px;
			
	}
	&.align-right{
		picture img{
			

			top:1px;
					
		}
	}
	
	.stack{
	
	left:auto;
	right: auto;
	margin-left: 0;
	bottom:5%;
	}
	
	&.type-latest_podcast{
		.cta{
			display: inline-block;
			min-width: inherit;
		}
		svg{
			
		
			bottom:-3%;
			

		}
	}
	
	&.has-arm{
		.country-image{

	
			
				@include rule--lockup(margin-top, -18 , 8, 320, 500);
						
		}
		
	}
	
	
	
}

.module-masthead{

	.content .copy{
		max-width: inherit
	}
	.cta{
		min-width: 205px !important;
	}
}


.section--module.type-latest_podcast {
	.itunes, .spotify{
					font-size:0;
					height: 45px;
					width:100%;
		}
		.cta + .cta{
			//margin-left: 2%;
		}
		.itunes:after{
			content:"Apple Podcasts";
			@include bodyfont;
			line-height: 2.6rem;
		}
		.spotify:after{
			content:"Spotify";
			@include bodyfont;
			line-height: 2.6rem;
		}
}



/* -----------------------------------------------------------------------------------------------------------
												Carousels
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-full,
.section--carousel.type-podcasts,
.section--carousel.type-news,
.section--carousel.type-jobs{
	.carousel{
		width:calc(100% - 40px);
		
	}
	.intro-wrapper{
		
		width:calc(100% - #{$outer});
		.copy{
			width:100%;
			max-width: $mw;
			padding-left: 10px;
			
		}
	}
	.carousel-wrapper {
		width:calc(100% - 20px);
	}
	.intro{
		max-width:$mw;
	}
	.carousel-pagination{
		margin-left: 20px;
	}
}

.section--carousel.type-full{
	.item{
		padding:20px;
		
	}
	.carousel{
		margin-left: 10px;
	}
	.carousel-pagination{
		margin-left: 30px;
	}
}

.section--carousel.type-intro-left{
	.carousel {
		width:calc(100% - #{$outer});
	}	
	.intro{
		max-width:$mw;
	}
}
.section--carousel.type-full{
		.carousel {
		width:calc(100% - 80px);
	}	
}

/* -----------------------------------------------------------------------------------------------------------
															    
											Locations
															    
------------------------------------------------------------------------------------------------------------- */

.section--locations{
	.content{
		
	}
	.content--inner{
		padding: 20px;
		
	}
	.copy{
		width:100%;
		
		&:first-of-type{
			
			width:100%;
		}
	}


	.addresses{
		width:100%;
	
	}
	
	address{
		
		width:100%;
		
	}
	
}


/* -----------------------------------------------------------------------------------------------------------
															    
												DRIVER
															    
------------------------------------------------------------------------------------------------------------- */

.section--driver{
	.content{
		padding-left: 10px;
		padding-right: 10px;
		>.copy{
			margin-left: 20px;
			max-width: $mw;
		}
	}

	
	.driver--podcast{
		
		padding-left: 20px;
		padding-right: 20px;	
		.image-holder .image{
			max-width: inherit;
		}	
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
											LOCATIONS
															    
------------------------------------------------------------------------------------------------------------- */
.section--locations{
.content{
	@include soft--sides(10px);
}
	.tabs{
		
		button{
			min-width: 45%;
		padding: 0 0px;
			
		}
	}
	.content--inner{
		@include soft--sides(20px);
	}
	.listing{
		min-height: 300px;
		padding-bottom: 30vw;
	}

	.offices{
		width:100%;
		max-width: 500px;
		
	}
	address{
		h3{
			margin-bottom: 0;
		}
		width:100%;
		margin-bottom: $mb / 2;
		
	}
	.stack{
		left:0;
		width:100%;
		max-width: 320px;
		margin-top: 40%;
	}
}






/* -----------------------------------------------------------------------------------------------------------
															    
											STACK
															    
------------------------------------------------------------------------------------------------------------- */

.stack{
	.image{		
				@include shadow( 0px 0px 0px 5px $text);
	
	}
		
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Feature page
															    
------------------------------------------------------------------------------------------------------------- */



.section--content {

	.content--inner > .copy{
		 margin-left: 0%;
		 width:100%;
		 margin-bottom: 2*$mb;
		}
	.side-bar{
		width:100%;
		min-width: inherit;
		margin-right: 0%;
				
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Single Countries
															    
------------------------------------------------------------------------------------------------------------- */

.country-header{
	.content{
		padding-left: 10px;
		padding-right: 10px;
	}
	.image{
		margin-bottom: 0;
	}
	.stack{
		margin-left: 0;
		left:50%;
		@include transform(translateX(-60%));
	} 
	
}

.country--content{
	.content--inner{
		padding-bottom: 0;
		&:after{
			padding-top:0;
		}
	}
	.content--inner > .copy{
		
		 }
	.side-bar{
		padding-top: 2*$mb;
		width:calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		min-width: inherit;
			background: $background;

	}
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Countries
															    
------------------------------------------------------------------------------------------------------------- */
$sh: 600px;
.section--countries{
	.copy{
		width:calc(100% - 40px);
		p{
			max-width:260px;
		}
		
		margin-left: 20px;
	}
		
		
}

.section--countries{

	#country-scroller{

		&.input{
			.countries{
				height: calc($sh - 40px);
			}				
		}
	}
}


.section--employees{
	.carousel{
		&:before{
			height: 0;
			padding-top:calc(78% - 25px);
				box-shadow: inset 0px 0px 0px 10px white;
			}
	}
}
/* -----------------------------------------------------------------------------------------------------------
															    
												JOBS
															    
------------------------------------------------------------------------------------------------------------- */


.section--jobs{
	.multiple-select {
		width:calc(100% - 20px);
		
		margin-bottom: 2*$mb;
	}
	.listing--jobs .entry--job {
		width:100%;
		//@include rounded(15px);
		> a{
			@include cta;
			position: absolute;
			height: auto;
			max-width:205px;
			left:20px;
			bottom:20px;
			top:auto;
			opacity: 0;
			@include transition(opacity .1s);
			&:before{
				content:'Find out more';
			}
		}
		.mobile-touch{
			position: absolute;
			display: block;
			left:0;
			top:0;
			width:100%;
			height: 100%;
	
		}
		&:nth-of-type(n){
			margin-right: 0;
		}
		.title{
			min-height: 80px;
			h3{
				@include font-size(24);
			}
			.categories{
				@include font-size(18);
				margin-bottom: 10px;
			}
		}
		
		.copy{
			height: 24px;
			overflow: hidden;
			font-weight: 300;
			@include transition(height .3s);
			
			>:last-child{
				margin-bottom: 70px;
			}
			p{
				opacity: 0;
				@include transition(opacity .3s);
			}
		}
		&.job-open{
			.copy{
				height: var(--job-height);
				p{
					opacity: 1;
					transition-delay: .1s;
				}
			}
			> a{
				@include transition(opacity .2s);
				opacity: 1;
				transition-delay: .2s;
				pointer-events: all;
				z-index: 2;
				}
			
		}
	}
}



/* -----------------------------------------------------------------------------------------------------------
															    
												Post content
															    
------------------------------------------------------------------------------------------------------------- */
.post-content
{
	.content{
		@include soft--sides(10px);
	}
	.content-wrapper{
		@include soft--sides(20px);
	}
	
	
}




/* -----------------------------------------------------------------------------------------------------------
															    
											Rewards
															    
------------------------------------------------------------------------------------------------------------- */
.section--rewards{
	overflow: hidden;
	
	.loading-more:after{
	//.wrapper:after{
		
			bottom:20px;
			
			}
}
.entry--reward{


	width:100%;
margin-bottom: 20px;
	&:nth-of-type(n){
		margin-right: 0%;
		
	}
	.copy{
		padding: 30px;
	}
	.points{
		line-height: 55px;
		width:150px;
		padding-left: 30px;
		}
}


.category-list{

	top:58px;
	}

.section--points{
	.content{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.table-title{
	padding-left: 20px;
	margin-bottom: 1.5 * $mb;
	}
.points-table{
	td, td:first-of-type{
			 @include font-size(14);
		}
		
	th:nth-of-type(1){
	
		width:62%;
	}
	th, td{
		padding: 5px 0px 5px 20px;
		
	}
	

	
}
.single-white-paper{
.copy-inner{
	flex-wrap: wrap;
	.copy, .readmore{
		width: 100%;
		
	}
	.readmore{
		margin-left: 0;
		margin-top: $mb;
		a{
			@include bodyfont;
		}
	}
}

}
