$img-padding: 70vw;

.cta{
	@include font-size(14,2.6);
		padding: 0 20px;
}
.section--module{

	.content--inner{
		@include align-items(flex-start);
		min-height: inherit;
		&:after{
			float: none;
			width:100%;
			padding-top:  $img-padding;
	
		}
	}
	.copy{
		max-width: inherit;
		width:100%;
		margin: 0;
	}

	picture img{
		height: $img-padding;
		top:auto;
		bottom:0;
		height: calc(#{$img-padding} +  12px);
		
	}


	///has a background color
	&.has-bg{
		.content--inner{
			min-height: inherit;
			padding:20px;
			&:after{
				float: none;
				width:100%;
				padding-top:  $img-padding;
			}
		}
		 
		picture img{
			height: calc(#{$img-padding} +  21px);
			top:auto;
			bottom:21px;
			
		}
	}
	&.no-bg{
		picture img{
			height: calc(#{$img-padding} +  21px);
			top:auto;
			bottom:21px;
			
		}
		
	}
	&.has-bg + .no-bg{
		padding-top:50px;
		padding-bottom: 50px;
		picture  img{
			height: calc(#{$img-padding} +  21px);
			top:auto;
			bottom:21px;
			
		}
			
	}
	&.align-right{
		picture img{
			
			height:calc(#{$img-padding} + 21px);
			top:21px;
			bottom:auto;
		
		}
		.copy{
			margin: 0;
		}
		.content--inner{
			min-height: inherit;
			&:before{
				content:'';
				width:100%;
				//background: red;
				padding-top:  $img-padding;
			}
			&:after{
				display: none;
			}
		}
	}
	&.type-latest_podcast{
		.cta{
			display: block;
		}
		svg{
			height: $img-padding;
			right:50%;
			top:auto;
			bottom:0;
			height: calc(#{$img-padding} +  12px);

		}
	}

	&.has-arm{
		.country-image{

			position: absolute;
			width:58%;
			min-height: inherit;
		top:0;
			left:50%;
			@include transform(translateX(-50%));
			//@include rule--lockup(top, 0, 60, 500,750);
			@include rule--lockup(margin-top, 28 , 63, 501, 750);
			margin-left: auto;
			img{
				min-width:100%;
				min-height: inherit;
				height: auto;
			}
			
		}
		
	}

}

.module-masthead{
	padding-bottom: 70vw;
	picture img{
		width:100%;
	
	}
	
}
.section--panels{
	justify-content: space-between;
	.panel:nth-of-type(n){
		margin-right: 0%;
		width:49.5% !important;
		min-height: 144px;
	}
	
}

.section--module .stack{
	position: absolute;
	width:90%;
	max-width:500px;
	left:50%;
	margin-left: -250px;
	bottom:0;
	margin-bottom: 30%;
}

.page-template-t_points,
.page-template-t_rewards{
	.wordpress-content.has-bg{

	.content--inner{

		&:after{
			float: none;
			width:100%;
			padding-top:  $img-padding;
	
		}
	
		
	}
}
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Carousel
															    
------------------------------------------------------------------------------------------------------------- */
.button-controls{
display:none;
	
}
.section--carousel{
	.content{
		&:after, &:before{
			display: none;
		}
	}
}


.carousel{

	.item{
		margin-right: 10px;
		padding:20px;
	}
}

.section--carousel.type-full{
	.carousel{
		width:calc(100% - 50px);
		margin-left: 0;
	}
	.carousel-pagination{
		margin-left: 20px;
	}
	.item{	
		@include align-items(flex-start);
		@include flex-direction(column-reverse);
		.copy{
			width:100%;
		}
		
		.image{
			width:50%;
			margin-bottom: $mb;
		}
	}
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Intro left
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-intro-left{
	.content{
		@include justify-content(flex-start);
		padding: 0 10px;
	}
	.carousel-wrapper{
		width:100%;
	}
	.carousel{
		width:100%;
		//margin-right: 26%;
	}
	.intro{
		width:100%;
		margin-top: 0;
		padding: 0 0 $outer 20px;		
	}
	.item{
		margin-right: 10px;
	}
	.carousel-pagination{
		margin-left: 20px;
	}
}
/* -----------------------------------------------------------------------------------------------------------
															    
													Sign off
															    
------------------------------------------------------------------------------------------------------------- */

.section--sign-off{

	.content{
		@include flex-direction(column);
		@include align-items(flex-start);
	}
	.image{
		width:50%;
		margin-bottom: $mb;
	}
	.copy{
		width:100%;
	}
	.cta{
		width:100%;
	}
}
.section--quotes,
.section--people{
	.intro{
		width:60%;
		
	}
}

/* -----------------------------------------------------------------------------------------------------------
															    
												PEOPLE
															    
------------------------------------------------------------------------------------------------------------- */


.section--people{
	.columns .column{
		width:48%;
		&:nth-of-type(n){
			margin-right: 0;
		}
		&:nth-of-type(2n + 1){
			margin-right: 4%;
		}
	}
	
	
}



.section--quotes{
	
	.quote-holder{	
		.image{
			width:100%;
		}
		.copy{
			width:100%;
		}
			
	}
}



/* -----------------------------------------------------------------------------------------------------------
															    
												Driver
															    
------------------------------------------------------------------------------------------------------------- */


.section--driver{
	.content{
	width:100%;
	}
	.content > .copy{
		width:100%;
		margin-bottom: 2*$mb;
	}
	.driver{
		width:100%;
	}
	

		
	
}

.section--carousel.type-podcasts{
	.driver--podcast{
		.copy{
			width:100%;
			p{
				display: none;
			}
		}
		.image-holder{
			width:100%;
			
			
		}
		
	}
	
	.itunes, .spotify{
			font-size:0;
			height: 45px;
			width:100%;
			display: inline-block;
		}
		.cta + .cta{
			//margin-left: 1%;
			
		}
		.itunes:after{
			content:"Apple Podcasts";
			@include bodyfont;
			line-height: 2.6rem;
		}
		.spotify:after{
			content:"Spotify";
			@include bodyfont;
			line-height: 2.6rem;
		}
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
													FOOETR
															    
------------------------------------------------------------------------------------------------------------- */
.footer--offices{
		padding: 20px 0;
	}
.footer--navigation{
	padding-top: $mb;
	.small-copy-wrap{
		width:100%;
		
	}
	.footer-wrap{
		@include flex-direction(column-reverse);
	}
	
	.smallcopy{

		width:100%;
	}
	
	.social-menu{
		@include justify-content(flex-start);
		//margin-bottom: 2*$mb;
		li:first-of-type{
			margin-left: 0;
		}
	}
	 .social-wrap{
		 width:100%;
		 @include align-items(center);
		 margin-bottom: $mb;
	 }
	 .veracode {
		width:80px;
		}	
}



/* -----------------------------------------------------------------------------------------------------------
															    
													People modal															    
------------------------------------------------------------------------------------------------------------- */

.people-modal{
	
	.pagination{
		width:100%;
		//position: absolute;
		//bottom:0;
		right:0px;
		z-index: 2000;
	}
	
}


/* -----------------------------------------------------------------------------------------------------------
															    
											LOCATIONS
															    
------------------------------------------------------------------------------------------------------------- */
.section--locations{

	
	.tabs{
		
		button{
		padding: 0 20px;
		min-width: inherit;
	
		}
	}
	.content--inner{
		padding: 20px;
	}
	.listing{
			min-height: 300px;
			padding-bottom: 25vw;
	}

	.offices{
		width:100%;
		max-width: 500px;
		
	}
	address{

		width:40%;
		
	}
	.stack{
		@include push--auto;
		width:80%;
		max-width: 400px;
		margin-top: 20%;
	}
}


/*----------------------------------------------------------------------------------------------------------------
                                    Forms
---------------------------------------------------------------------------------------------------------------*/	
form{

	
input[type="submit"], input[type="button"]{
	

	min-width:260px;
	}
	}
	
	
#cookie-law-info-bar{

	span{
	
	
		@include justify-content(center);
	
	}
	p{
		width:100%;
		margin-bottom: $mb / 2;
	}
	
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Feature page
															    
------------------------------------------------------------------------------------------------------------- */



.section--content {

	.content--inner > .copy{
		 margin-left: 0%;
		 width:100%;
		 margin-bottom: 2*$mb;
		}
	.side-bar{
		min-width: 450px;
		margin-right: 0%;
		margin-bottom: 2*$mb;		
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Single Countries
															    
------------------------------------------------------------------------------------------------------------- */
.country-header{
	>.copy{
				margin-bottom: 0;
	}
	.content--inner{
		padding: 20px;
		&:after{
			padding-top: 0vw;
		}
	}
	.details{ 
		margin-top: 2*$mb;
		position:relative;
		left:0px; 
		width:100%;
	}
	.image{
		width:100%;
		max-width:400px;
		@include push--auto;
		margin-top: $mb;
		margin-bottom: $mb;
	}
	.side-bar{
		h4{
			margin-left: 20px;
		}
		 .image{
		margin-left: 0;
		}
		.cta{
			margin-bottom: 20px;
		}
	}
	
}

.country--content{
	.content--inner{
		padding: 20px;
		&:after{
			padding-top:0;
		}
	}
	.content--inner > .copy{
		 width:100%; 
		 margin-left: 0%;
		 margin-bottom: 2*$mb;	
		 }
	.side-bar{
		margin-left: 0;
		min-width: 450px;
		margin-right: 0%;
		margin-bottom: 0;		

	}
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Countries
															    
------------------------------------------------------------------------------------------------------------- */
$sh: 600px;
.section--countries{
	.copy{
		width:50%;
		margin-left: 20px;
		margin-bottom: $mb;
	}
	#search-countries{
		position: relative;
		left:auto;
		margin-top:2*$mb;
		top:auto;
		max-width: inherit;
		.country-search{
			position: relative;
		}
				
	}

	picture > img{
		display:none;
	}
	#country-scroller{
		width:100%;
		min-width: inherit;
		margin-top: 40px;
		max-width: 500px;
	}
	.content{
		padding: 0 10px;
	}
	.countries {
		width:calc(100% - 20px);
		height: $sh;
		padding-bottom: 362px;
		dd{
			height: 180px;
			.cta{
				margin-left: 20px;
			}
		}
		dt {
			padding: 2px 0 0 20px;
		}
		.image{
			position: absolute;
			right:0;
			top:39px;
			height:140px;
			width:168px;
			
			img{
				height: 100%;
				width:auto;
				
			}
		}
	}
	


	.alphabet a{
		width:10px;
		@include font-size(12,1);
		
		
		}
		
}

.section--countries{

	#country-scroller{

		&.input{
			.countries{
				height: calc($sh - 40px);
			}				
		}
	}
}



.section--employees{

	.button-controls {
		display:none;
		
	}
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Diversity
															    
------------------------------------------------------------------------------------------------------------- */


.section--diversity{
	 @include soft--ends(30px);
	 .content--inner{
		 display: block;
	 }
	.copy{
		
		max-width: 381px;
		margin-left: 0%;
		margin-right: 0%;
		width:100%;
	
		h1,h2{
			//max-width: 190px; ///was 330px
			margin-bottom: $mb / 2;
			
		}
	}
	
	.diversity-carousel{
	
		width:280px;
		height: 400px;
		min-height: 400px;
		max-height: 400px;
	
		@include push--auto;
		@include justify-content(flex-start);
		@include align-items(flex-start);
		margin-top: 2*$mb;
		//background: red;
		
		.carousel{
			width:240px;// smaller than parent to hide overlap
			margin: 0;
			@include push--auto;
			//margin-top: 20px;
			//background: blue;
			overflow: hidden !important;

		}
		.item{
			
			width: 180px;
			margin: 0;
			padding: 0;
			margin: 0 30px; // (240 - 180) / 2
			//background: red;
			@include fixedImage(130%);
			opacity: 1;

			//background: green;	
			
		}
	
		.big-title{
		
			margin-bottom: $mb/2;
		}
	
		&:after{
			content:'';
			position: absolute;
			pointer-events: none;
			//display: none;
			top:50%;
			left:calc(50% + 10px);
			height: 300px;
			width:400px;
			background-image: url(../images/svg/carousel-magnify-desktop.svg);
			background-repeat: no-repeat;
			background-size: 400px auto;
			background-position: center center;
			transform-origin: center center;
			@include transform(translate(-50%, -50%) rotate(90deg));
			
		}
		
	}
	
	.carousel-pagination{
		position: absolute;
		width:100%;
		top:180px;
	}
}


/* -----------------------------------------------------------------------------------------------------------
															    
											JObs listing
															    
------------------------------------------------------------------------------------------------------------- */

.section--jobs{
	.content{
		padding: 0 10px;
	}
	.content--inner{
		
	}
	.content--inner > .copy{
		margin-left: 20px;
		max-width: 260px;
		width:100%;
	}
	.listing-filters{
		margin-left: 20px;
		margin-bottom: 50px;
	}
	.multiple-select {
		width:48%;
		//max-width: 260px;
		min-width: inherit;
		margin-bottom: 2*$mb;
	}

	#job-filter input[type="submit"]{
		@include push--auto;
		//margin-left: 0;
	}
	
}


/* -----------------------------------------------------------------------------------------------------------
															    
											Rewards
															    
------------------------------------------------------------------------------------------------------------- */
.section--rewards > .content > .copy{
	///space for categiry list to show
	h2{ margin-bottom:  110px;}
}
.listing--rewards{
	.section--none .content{
		padding: 0;
	}
}
.category-list{
	position: absolute;
	width: 100%;
	min-width: 100%;
	top:80px;
	///scroll
		overflow-x:scroll;
	 -webkit-overflow-scrolling: touch;
	 //
	li{
		a{
			line-height: 68px;
				width:240px;
		}
		&:last-of-type a{
			margin-right: $outer;
		}
	}

}

#reward-filter{

	fieldset{
		width:100%;
		.legend{
			width:100%;
			margin-right: 0px;
			margin-bottom: $mb / 2;
		}
		&:first-of-type{
			width:100%;
		}
		&+fieldset{
			margin-top: $mb;
		}
	}
	.fieldset--search{
		text-align: left;
		label{
			margin-bottom: $mb / 2;
			display: block;
		}
	}
	input[type="radio"]+label{
			padding: 0 30px;	
			min-width: 125px;
			
		//	margin-right: 5px;
	}

	.fieldset--search{
		max-width: 320px;
		input[type="number"]{
			width:100%;
			min-width:150px;
			
			margin-left: 0px;
			
		}
	}

	
}

.points-table, .table-title{
	width:100%;
	&:before, &:after{
	display: none;
	}
	
}


.single-article .copy, .single-interview .copy{
	margin-left: 0;
	width:100%;
}
.section--archive{
	
	.content{
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.copy{
		width:100%;
		
	}
	.image{
		width:100%;
		margin-bottom: $mb;
		
	}
	.archive-list-holder{
		margin-top: 2 * $mb;

	}
}
.archive-categories{
	position: relative;
	width:100%;
}
.section--webinar{
	.content > .copy{
		margin-left: 0%;
		width:100%;
	}
	.webinars-lists,
	.webinar-intro{
		flex-wrap: wrap;
	}
	.webinar-section{
		width:100%;

	}
	.mobile{
		display: block;
		&.copy{
			margin-bottom: $mb;
		}
		&.image{
		max-width: 300px;
		width:60%;
		@include push--auto;
		margin-top: $mb;
		margin-bottom: $mb;
		}
	}
}
.single-interview,
.single-white-paper{
	.content-wrapper{
		flex-wrap:wrap
	}

	.cover{
		width:30%;
		min-width:160px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 2 *$mb;
	}
	.cover + .copy{
		width:100%;
	}

}
.single-interview{
	.content-wrapper{
		flex-direction: column-reverse;
	}
	.sidebar--podcast{
		margin-top: 20px;
		@include push--auto;
		min-width: 280px;
	}
}