.section--module{
	.copy{
		max-width: 380px;
		margin-left: 5%;
		width:36%;
	}

	&.type-latest_podcast{
		.copy{
			width: 100%;
			p, h4, h2, ul, a{
				max-width:300px;
			}
		}
	}

}

.section--webinar{

	.content > .copy{
	
	//	margin-left: 5%;
		width:54%;
	}
}
.intro-paragraph .copy{  width:100%; margin-left: 0 	}
.module-masthead .copy{
	max-width: 600px;
	width: 65%;
	margin-left: 0;
}

.section--panels{
	.panel-drivers{
		justify-content: space-between;
	}
	.panel:nth-of-type(n){
		margin-right: 0%;
		width:24.2%;
		
	}
	&.num-1, &.num-2, &.num3 {
		justify-content: flex-start;
		.panel{
			margin-right: 1%;
			&:nth-of-type(4n+4){margin-right: 0%;}
		}
	}

	&.num-5{
		.panel{
			width:32.5%;
			&:nth-of-type(n + 4){
				width:49.5%;
			}
		}
	}
	&.num-6, &.num-9, &.num-12{
		.panel{
			width:32.5%;
		}
	}
	&.num-7{
		.panel{
			&:nth-of-type(n + 5){
				width:32.5%;
			}
		}
	}
	&.num-10{
		.panel{
			&:nth-of-type(n + 5){
				width:32.5%;
			}
		}
	}
	&.num-11{
		.panel{
			&:nth-of-type(n + 9){
				width:32.5%;
			}
		}
	}
}

.section--quotes, 
.section--people,
.section--sign-off{
	.content{
	
		width:100%;
	}

}

.section--quotes{
	.quote-holder{
		width:100%;
		.copy{
			padding: $mb;
		}
	}
}

.section--story-module{
.copy{
		width:50%;
		position: relative;
		z-index: 1;
		
		&:first-of-type{
			margin-left: 0;
			margin-right: 5%;
			width:45%;
		}
	}
	
	
}


.section--carousel{

	.content{
	
		&:after, &:before{
		
			width:50px;
			
		}
	}
}


/* -----------------------------------------------------------------------------------------------------------
															    
											Carosuel
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-full,
.section--carousel.type-podcasts,
.section--carousel.type-news,
.section--carousel.type-jobs{
	.carousel{
		width:100%;
	}
	.intro-wrapper{
		
		width:calc(100% - #{$outer});
		
	}
	.carousel-wrapper {
		width:calc(100% - #{4*$outer});
	}
	}
	
.button-controls{
	width:calc(100% - 50px);	
}


/* -----------------------------------------------------------------------------------------------------------
															    
												Intro left
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-intro-left{
	.carousel-wrapper{
		width:59%;
	}
	.carousel{
		width:85%;
		margin-right: 15%;
	}
	.button-controls{
		width:65%;
		right:5%;
	
		}
}




/* -----------------------------------------------------------------------------------------------------------
															    
											Driver
															    
------------------------------------------------------------------------------------------------------------- */
.driver{
	
	padding: 20px;
		
}





.section--driver{
	.content{
	width:100%;
	}

	
	.driver--podcast{
		.copy{
			width:100%;
			&+.image-holder{
				margin-top: $mb;
				}
				p{
					display: none;
				}
		}
		.image-holder{
			width:100%;
			max-width: inherit;
		
			.image{
				max-width:320px;
			}
			.cta{
				display: inline-block;
				padding: 0 20px;
				width:49%;
				//min-width: 220px;
				&.cta{
					margin-top: 0;
					margin-right: 1%;
				}
				&.itunes, &.spotify{
					font-size:0;
					height: 45px;
				}
				&.itunes:after{
					content:"iTunes";
					@include bodyfont;
					line-height: 2.6rem;
				}
				&.spotify:after{
					content:"Spotify";
					@include bodyfont;
					line-height: 2.6rem;
				}
			}
		}
	
	}
		
	
}

/* -----------------------------------------------------------------------------------------------------------
													People modal
															    
------------------------------------------------------------------------------------------------------------- */



.people-modal{
	overflow: scroll;
	.section--person{
		width:750px;
		margin-top:auto;
		margin-bottom: auto;
	}
	.content{
		@include soft--sides(40px);
	}
	.pagination{
	//	display:none;
	width:calc(750px);
	z-index: 20;
	@include transition(opacity .3s .5s);
		a{
			width:30px;
			height: 30px;
		}
	}
}
.loading-people-modal{
	.people-modal .pagination{ 
		opacity: 0;
		@include transition(opacity 0s 0s);
	}
}



/* -----------------------------------------------------------------------------------------------------------
															    
													Fiona show
															    
------------------------------------------------------------------------------------------------------------- */


h4.fiona-show-logo{

	margin-left: 0%;
	
}



/* -----------------------------------------------------------------------------------------------------------
															    
											LOCATIONS
															    
------------------------------------------------------------------------------------------------------------- */
.section--locations{
	
	.copy{
		width:50%;
		&:first-of-type{
			width:50%;
		}
	}
	
	.tabs{
		width: 100%;
		
		button{
	
			min-width: 150px;
	
		}
	}
	.content--inner{
		padding: 40px;
	}
	.listing{
			min-height: 300px;
	}

	.offices{
		width:40%;
	}
	address{

		width:100%;
		
	}
	.stack{
		width:55%;
		margin-top: 14%;
	}
}



/* -----------------------------------------------------------------------------------------------------------
															    
												Countries
															    
------------------------------------------------------------------------------------------------------------- */

.section--countries{
	.copy{
		margin-left: 5%;
	}
	
}

.country-header{
	.details{ left:5%; }
}

.country--content{
	.content--inner > .copy{ width:45%; margin-left: 5%;}
	.side-bar{
		width:40%; 
		margin-right: 5%;
				
	}
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Feature page
															    
------------------------------------------------------------------------------------------------------------- */


.section--content {

	.content--inner > .copy{width:45%; margin-left: 5%;}
	
	.side-bar{
		width:40%; 
		margin-right: 5%;
				
	}
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
											Employee
															    
------------------------------------------------------------------------------------------------------------- */

.section--employees{
	padding-left:10px;
	padding-right: 10px;
	.button-controls {
		width: calc(100% + 100px);
		
	}



	.content{
		padding: 0px 0;
		
		//margin: 0 10px;

		max-width: 600px;
		

	}
	.quote{
		display: block;
		margin-top: $mb;
		max-width: inherit;
		margin-left: 20px;
		width:100%;
		position: relative;
	
		
	}
	.copy{
		position: relative;
		width:100%;
		max-width: 260px;
		margin-left: 20px;
		margin-bottom: 2*$mb;
		h4{
			margin-bottom: $mb;
		}
	}

	.item--employee{
		width: calc(100% - 40px);
		margin-left: 20px;
		display: block;
		//opacity: .2;
		opacity: 1;
		//@include transition(opacity .3s);
	}
	.employee-image{
		width:100%;
		margin-left: 0;
		position: relative;
		
	}
	.active-slide .item--employee{
		opacity: 1;
	}
	
	.employee-image + .quote{
		margin-left: 0;
	}
	
	.carousel{
		pointer-events: all;
		padding-bottom: 0px;
		overflow: hidden !important;
		>div{
			//opacity: 1;
			//transition-duration: 300ms;
		}
		>div > div{
			//.image, .quote{ opacity: 1 };
		}
		&:after{
			display: none;
		}
		&:before{
			width: calc(100% - 40px);
			height: 70%;
			margin-left: 20px;
			box-shadow: inset 0px 0px 0px 15px white;
		}
	
	}
	.carousel-pagination{
		margin-top: 30px;
	}

}




/* -----------------------------------------------------------------------------------------------------------
															    
											Diversity
															    
------------------------------------------------------------------------------------------------------------- */

.section--diversity{

	
	.carousel-pagination{
		position: absolute;
		width:58%;
		
		top:calc(50% + 80px);
	}
}
.section--jobs{
	.listing--jobs .entry--job {
		width:49%;
		&:nth-of-type(n){
			margin-right: 0;
		}
		&:nth-of-type(2n - 1){
			margin-right: 2%;
		}
		.title{
			min-height: 100px;
			
		}
	}
}

.multiple-select{

	min-width: 235px;
}




/* -----------------------------------------------------------------------------------------------------------
															    
													Rewrads
															    
------------------------------------------------------------------------------------------------------------- */

.entry--reward{

	padding: 0;
	width:49%;
	margin-bottom: 2%;
	&:nth-of-type(n){
		margin-right: 2%;
		
	}
	&:nth-of-type(2n+2){
		margin-right: 0;
		
	}

	
	&:nth-of-type(1), &:nth-of-type(12){
		&:before{
			display:none;
		}
	}
	
	.copy{
		padding:20px;
	}
}

#reward-filter{

	fieldset{
		width:57%;
		.legend{
			margin-right: 5px;
		}
		&:first-of-type{
			width:43%;
		}
	}
	input[type="radio"]+label{

			padding: 0 20px;	
			
			margin-right: 5px;
		
	}

	.fieldset--search{
		
		input[type="number"]{
			
			min-width:150px;
			margin-left: 10px;
			
		}
	}

	
}

.category-list{

	li{
		a{
			line-height: 68px;
		}
	}
}

.points-table, .table-title{
	width:84%;
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
													Footer
															    
------------------------------------------------------------------------------------------------------------- */
	.footer--navigation  .social-menu li{
			margin-left: 5px;
			&:last-of-type{
				margin-left: 0;
			}
		}
	.footer--navigation .veracode {
		width:100px;
		}	



		.section--form{
			.content{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.image{
					display: none;
				}	
			}
			.form-holder{
				
				width:100%;

			}

		}