/*--------------------------------
	Media Queries
	used for outputting content either between media query tags
	example: basic usage
	.element {
		width: 50%;
		@include mq('tablet-small') {
			width: 20%;
		}
	}
	example: using max-width
	.element {
		width: 50%;
		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}
*/
/*--------------------------------
	Margin / Padding Quick Resets
	example: top & bottom margin set to $mb
	.element {
		@include push--ends;
	}
	example: left & right padding set to $mb--small
	.element {
		@include soft--sides($mb--small);
	}
*/
/*--------------------------------
	Helper mixins
*/
/*--------------------------------
	Form input placeholder text
	example:
	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}
*/
/*--------------------------------
	Retina images
	example:
	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}
*/
/*--------------------------------
	Content margins
	fore removing first/last child margins
	example: default
	.element {
		@include content-margins;
	}
	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}
	example: empty selector
	.element {
		@include content-margins('false');
	}
	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}
*/
/*--------------------------------
	CSS Triangle
	used for creating CSS only triangles
	example:
	.element {
		&::before {
			@include css-triangle(blue, down);
		}
	}
*/
/*--------------------------------
	Hide text
	example:
	.element {
		@include hide-text;
	}
*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
/*--------------------------------
Font size
*/
/*
	.site-header {
    z-index: z('site-header');
}
*/
@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url("../fonts/basisgrotesque.woff2") format("woff2"), url("../fonts/basisgrotesque.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url("../fonts/basisgrotesque-bold.woff2") format("woff2"), url("../fonts/basisgrotesque-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url("../fonts/basisgrotesque-light.woff2") format("woff2"), url("../fonts/basisgrotesque-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url("../fonts/basisgrotesque-medium.woff2") format("woff2"), url("../fonts/basisgrotesque-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

h2, h3, h1 {
  font-weight: 500; }

p + p,
p + .cta,
p + ul {
  margin-top: 20px; }

h1 {
  font-size: 1.3125rem;
  line-height: 1.2em;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    h1 {
      font-size: calc( 1.3125rem + 1.8032786885vw + -13.5245901639px); } }
  @media (min-width: 1360px) {
    h1 {
      font-size: calc(1.3125rem + 11px); } }

h2 {
  font-size: 1.25rem;
  line-height: 1.2em;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    h2 {
      font-size: calc( 1.25rem + 1.8032786885vw + -13.5245901639px); } }
  @media (min-width: 1360px) {
    h2 {
      font-size: calc(1.25rem + 11px); } }

h3 {
  font-size: 1.125rem;
  line-height: 1.35em;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    h3 {
      font-size: calc( 1.125rem + 0.9836065574vw + -7.3770491803px); } }
  @media (min-width: 1360px) {
    h3 {
      font-size: calc(1.125rem + 6px); } }

h4 {
  font-size: 0.875rem;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.4em;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    h4 {
      font-size: calc( 0.875rem + 0.4918032787vw + -3.6885245902px); } }
  @media (min-width: 1360px) {
    h4 {
      font-size: calc(0.875rem + 3px); } }
  @media (min-width: 750px) {
    h4 {
      font-size: calc( 0.75rem + 0.3278688525vw + -2.4590163934px); } }
  @media (min-width: 1360px) {
    h4 {
      font-size: calc(0.75rem + 2px); } }

h5 {
  font-family: "Basis Grotesque Pro","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 0.9375rem;
  line-height: 1.45em;
  font-weight: lighter;
  font-weight: bold; }
  @media (min-width: 750px) {
    h5 {
      font-size: calc( 0.9375rem + 0.4918032787vw + -3.6885245902px); } }
  @media (min-width: 1360px) {
    h5 {
      font-size: calc(0.9375rem + 3px); } }

.largefont {
  font-size: 1.125rem;
  line-height: 1.4em; }
  @media (min-width: 750px) {
    .largefont {
      font-size: calc( 1.125rem + 0.6557377049vw + -4.9180327869px); } }
  @media (min-width: 1360px) {
    .largefont {
      font-size: calc(1.125rem + 4px); } }

.smallfont {
  font-size: 0.625rem;
  line-height: 1.2em; }
  @media (min-width: 750px) {
    .smallfont {
      font-size: calc( 0.625rem + 0.6557377049vw + -4.9180327869px); } }
  @media (min-width: 1360px) {
    .smallfont {
      font-size: calc(0.625rem + 4px); } }

.module--header h1 {
  font-size: 1.25rem;
  line-height: 1.2em;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    .module--header h1 {
      font-size: calc( 1.25rem + 1.8032786885vw + -13.5245901639px); } }
  @media (min-width: 1360px) {
    .module--header h1 {
      font-size: calc(1.25rem + 11px); } }

h4.fiona-show-logo {
  font-size: 0;
  max-width: 185px;
  margin-left: -14%;
  overflow: hidden;
  position: relative;
  background-image: url(../images/svg/fiona-show-logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%; }
  h4.fiona-show-logo img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%); }
  h4.fiona-show-logo:after {
    content: '';
    display: block;
    padding-top: 28%;
    width: 0;
    float: left;
    position: relative; }

a {
  color: #D83BB3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s, background-position 0.1s, border-color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s, background-position 0.1s, border-color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s, background-position 0.1s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.3s, background-position 0.1s, border-color 0.3s; }

a:hover {
  text-decoration: none;
  border-color: #fff;
  color: #fff; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

.cta + .cta {
  margin-top: 10px; }

.cta {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 38px;
  border: 1px solid #fff;
  padding: 0 30px;
  color: #fff;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 42px;
  line-height: 2.625rem; }
  .cta:hover, .cta:active {
    background: #D83BB3;
    border-color: #D83BB3; }
  .cta.invert {
    background: #fff;
    color: #000; }
    .cta.invert:hover, .cta.invert:active {
      background: #D83BB3;
      border-color: #D83BB3;
      color: #fff; }

p, .cta, h1, h2, h3, h4, h5, h6, ul, li, a, blockquote, ol, dl {
  color: black;
  font-family: 'Basis Grotesque Pro', serif; }

a {
  color: #FF5F00; }

.cta {
  border-color: black; }

h4.fiona-show-logo {
  color: transparent;
  max-width: inherit;
  line-height: 60px;
  height: 60px;
  font-size: 20px;
  margin-left: 0 !important;
  background-image: url(../images/svg/fiona-show-logo-dark.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%; }
