@mixin animated($t:1s, $d:0) {
  -webkit-animation-duration: $t;
  animation-duration: $t;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-delay: $d;
  -webkit-animation-delay: $d;
}

@mixin  animated-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*------------------------------------------------------------------------------------------------------------------------
	
								  Fade In   
	
--------------------------------------------------------------------------------------------------------------------------*/

@mixin fadeInFrames{
0% { opacity: 0; }

100% {   opacity: 1; }
}

@mixin fadeInUpFrames{
0% { opacity: 0; @include transform(translate3d(0,60px,0));}

100% {   opacity: 1; @include transform(translate3d(0,0px,0));}
}


@mixin fadeInDownFrames{
0% { opacity: 0; @include transform(translate3d(0,-30px,0));}

100% {   opacity: 1; @include transform(translate3d(0,0px,0));}
}

@mixin fadeOutFrames{
 0% { opacity: 1;}
 100% {  opacity: 0;}
 
} 

@mixin fadeOutLeftFrames{
 0% { 
	 opacity: 1; 
	 @include transform(translateX(0));
	}
 100% {  
	 opacity: 0;
	  @include transform(translateX(-150px));
	 }
 
} 


@mixin fadeOutRightFrames{
 0% { 
	 opacity: 1; 
	 @include transform(translateX(0));
	}
 100% {  
	 opacity: 0;
	  @include transform(translateX(150px));
	 }
 
} 


@mixin fadeInLeftFrames{
 0% { 
	 opacity: 0; 
	 @include transform(translateX(-150px));
	}
 100% {  
	 opacity: 1;
	  @include transform(translateX(0));
	 }
 
} 


@mixin fadeInRightFrames{
 0% { 
	 opacity: 0; 
	 @include transform(translateX(150px));
	}
 100% {  
	 opacity: 1;
	  @include transform(translateX(0));
	 }
 
} 
@mixin  rotateFrames {
  0% {
   @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(90deg));
  }
}


@mixin  scaleInOutFrames {
  0% {
   @include transform(scaleX(1));
    transform-origin: 100% center;
  }
  40% {
   @include transform(scaleX(0));
   transform-origin: 100% center;
  }
   60% {
   @include transform(scaleX(0));
   transform-origin: 0% center;
  }
  100% {
    @include transform(rotate(1));
     transform-origin: 0% center;
  }
}


@-webkit-keyframes fadeInKs { @include fadeInFrames }
@keyframes fadeInks {  @include fadeInFrames }

@-webkit-keyframes fadeInUpKs { @include fadeInUpFrames }
@keyframes fadeInUpks {  @include fadeInUpFrames }

@-webkit-keyframes fadeInDownKs { @include fadeInDownFrames }
@keyframes fadeInDownks {  @include fadeInDownFrames }

@-webkit-keyframes fadeOutKs { @include fadeOutFrames }
@keyframes fadeOutKs {  @include fadeOutFrames }

@-webkit-keyframes fadeOutLeftKs { @include fadeOutLeftFrames }
@keyframes fadeOutLeftKs {  @include fadeOutLeftFrames }

@-webkit-keyframes fadeInRightKs { @include fadeInRightFrames }
@keyframes fadeInRightKs {  @include fadeInRightFrames}


@-webkit-keyframes fadeOutRightKs { @include fadeOutRightFrames }
@keyframes fadeOutRightKS {  @include fadeOutRightFrames }

@-webkit-keyframes fadeInLeftKs { @include fadeInLeftFrames }
@keyframes fadeInLeftKs {  @include fadeInLeftFrames}

@-webkit-keyframes rotateKs { @include rotateFrames}
@keyframes rotateKs { @include rotateFrames}

@-webkit-keyframes scaleInOutKs { @include scaleInOutFrames}
@keyframes scaleInOutKs { @include scaleInOutFrames}


@mixin fade-in($t:.5s, $d:.3){
	@include animated($t,$d);
	-webkit-animation-name: fadeInKs;
	animation-name: fadeInKs;
}

@mixin fade-in-up($t:.5s, $d:.3) {
	@include animated($t, $d);
  -webkit-animation-name: fadeInUpKs;
  animation-name: fadeInUpKs;
}

@mixin fade-in-down($t:.5s, $d:.3) {
	@include animated($t, $d);
  -webkit-animation-name: fadeInDownKs;
  animation-name: fadeInDownKs;
}

@mixin fade-out($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: fadeOutKs;
  animation-name: fadeOutKs;
}

@mixin fade-out-left($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: fadeOutLeftKs;
  animation-name: fadeOutLeftKs;
}


@mixin fade-in-left($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: fadeInLeftKs;
  animation-name: fadeInLeftKs;
}

@mixin fade-in-right($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: fadeInRightKs;
  animation-name: fadeInRightKs;
}

@mixin fade-out-right($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: fadeOutRightKs;
  animation-name: fadeOutRightKs;
}

@mixin scaleInOut($t:.5s, $d:0){
	@include animated($t,$d);
 -webkit-animation-name: scaleInOutKs;
  animation-name: scaleInOutKs;
}

.fade-in {
	@include animated(.5s, .3);
  -webkit-animation-name: fadeInKs;
  animation-name: fadeInKs;
}

.fade-in-up {
	@include animated(.5s, .3);
  -webkit-animation-name: fadeInUpKs;
  animation-name: fadeInUpKs;
}


.fade-out {
	@include animated(.5s);
  -webkit-animation-name: fadeOutKs;
  animation-name: fadeOutKs;
}

@mixin rotate {
-webkit-animation-name:  rotateKs;
animation-name:rotateKs;
@include animated($t:.5s, $d:0);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
   animation-timing-function: linear;

 
}




/* -----------------------------------------------------------------------------------------------------------
															    
										Stacks
															    
------------------------------------------------------------------------------------------------------------- */

@mixin stack_0_frame{
0% { opacity: 0; @include transform(translate3d(10%, -20%, 0) rotate(28deg));}
50%{opacity:1;}
100% {  @include transform(translate3d(-51%, -50%, 0) rotate(-1deg))}
}
@-webkit-keyframes stack_0_Ks { @include stack_0_frame }
@keyframes stack_0_Ks {  @include stack_0_frame }

@mixin stack_0($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_0_Ks;
	animation-name: stack_0_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}


@mixin stack_1_frame{
0% { opacity: 0; @include transform(translate3d(10%, -70%, 0) rotate(-27deg))}
50% {opacity:1;}
100% {  @include transform(translate3d(-50%, -50%, 0) rotate(-5deg))}
}
@-webkit-keyframes stack_1_Ks { @include stack_1_frame }
@keyframes stack_1_Ks {  @include stack_1_frame }

@mixin stack_1($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_1_Ks;
	animation-name: stack_1_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}

@mixin stack_2_frame{
	0% { opacity: 0; @include transform(translate3d(10%, -50%, 0) rotate(30deg))}
	50%{opacity:1;}
	100% {  @include transform(translate3d(-49%, -50%, 0) rotate(2deg))}
}
@-webkit-keyframes stack_2_Ks { @include stack_2_frame }
@keyframes stack_2_Ks {  @include stack_2_frame }

@mixin stack_2($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_2_Ks;
	animation-name: stack_2_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}

@mixin stack_3_frame{
	0% { opacity: 0; @include transform(translate3d(10%, -20%, 0) rotate(-22deg))}
	50%{opacity:1;}
	100% {  @include transform(translate3d(-48%, -50%, 0) rotate(-6deg))}
}
@-webkit-keyframes stack_3_Ks { @include stack_3_frame }
@keyframes stack_3_Ks {  @include stack_3_frame }

@mixin stack_3($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_3_Ks;
	animation-name: stack_3_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}


@mixin stack_4_frame{
	0% { opacity: 0; @include transform(translate3d(10%, -70%, 0) rotate(32deg))}
	50%{opacity:1;}
	100% {  @include transform(translate3d(-47%, -50%, 0) rotate(5deg))}
}
@-webkit-keyframes stack_4_Ks { @include stack_4_frame }
@keyframes stack_4_Ks {  @include stack_4_frame }

@mixin stack_4($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_4_Ks;
	animation-name: stack_4_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}



@mixin stack_5_frame{
	0% { opacity: 0; @include transform(translate3d(0%, -50%, 0) rotate(-34deg));}
	50%{opacity:1;}
	100% {  @include transform(translate3d(-46%, -50%, 0) rotate(0deg))}
}
@-webkit-keyframes stack_5_Ks { @include stack_5_frame }
@keyframes stack_5_Ks {  @include stack_5_frame }

@mixin stack_5($t:.5s, $d:0){
	@include animated($t,$d);
	-webkit-animation-name: stack_5_Ks;
	animation-name: stack_5_Ks;
	animation-timing-function: cubic-bezier(0.110, 0.865, 0.455, 1.015);
}





.people-modal.out-left #modal-content{
	@include fade-out-left;
}

.people-modal.in-right #modal-content{
	@include fade-in-right;
}
.people-modal.in-left #modal-content{
	@include fade-in-left;
}
.people-modal.out-right #modal-content{
	@include fade-out-right;
}




/* -----------------------------------------------------------------------------------------------------------
															    
												Radio tower
															    
------------------------------------------------------------------------------------------------------------- */


@mixin pulseFrames{
 0% { 
	 opacity: 0; 
	 
	}
 20% {  
	 opacity: 1;

	 }
50% { 
	 opacity: 0; 
	 
	}
 
}

@-webkit-keyframes pulseKs { @include pulseFrames }
@keyframes pulseKs{  @include pulseFrames } 


@mixin pulse($t:.5s, $d:0){
	@include animated($t,$d);
	@include animated-infinite;
 -webkit-animation-name: pulseKs;
  animation-name: pulseKs;
  animation-timing-function:ease-in-out;
}


#radiotower{
	.beam-1, .beam-2, .beam-3{
		opacity: 0;
	}
	.beam-1{@include pulse(2s, .1s)}
	.beam-2{@include pulse(2s, .2s)}
	.beam-3{@include pulse(2s, .3s)}
	
}
