@import 'reset';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'animation';
@import 'mobile_button';
@import 'navigation';
@import 'footer';

@import 'buttons';
@import 'forms';
@import 'wordpress';

//carousel at the end
//@import 'headers';
@import 'modal';
@import 'slimselect';
//@import 'grid';
//@import 'guide';



*{
	@include box-sizing;
	-webkit-tap-highlight-color: transparent
}

.screen-reader-text{
	display: none;
}

body{
  @include bodyfont;
  color:$text;
  background: $background;
}
main{
	padding-top: $nav-height;
}
section, .page--menu, .page--content{
 
  position: relative;
  @include soft-ends--lockup($softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
}

.content{

    max-width:$max-width;
    @include  push--auto;
	@include soft--sides(30px);
  
 }
 @mixin slim-content{
	 	max-width:1140px;
		width:85%;
 }
 hr{
	 border-bottom: 1px solid $text;
	 margin-bottom: 2*$mb;
	 margin-top: 2*$mb;
 }


.image{
	display: block;
	
	img{
		display: block;
		position: relative;
		width:100%;
		height: auto;
		
	}
}

blockquote{
	@include blockquotefont;
	color:$primary;
	margin: $outer 0;
	max-width: 480px;

	position: relative;
	padding-left:12px; 
	&:before{
		content:'“';
		position: absolute;
		left:0;
	}
	p:last-child:after{
		content:'”';
		display: inline;
	}
}


.column-size-2{
	-webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
          column-gap: 5%;
}

.noscroll {
    overflow: hidden !important;
}

.lazy-image {
	opacity: 0;
	&.lazy__show{
		//pacity: 1;
		//@include transition(opacity .5s);
		@include fade-in;
	}
}


.el__hidden{

	
	opacity: 0;
	@include transform(translateY(60px));
	
}
.el__show{
	
	opacity: 1 !important;
	
	
	@include transition( opacity 1s, transform 1s); 
	@include transform(translateY(0px));
	transition-delay: .2s;
	
}

.loaded{
		@for $i from 2 through 10 {
					 section:nth-child(#{$i}){
					
						 transition-delay: #{ ($i / 5) + .2}s;
					
					 }
		}
	
}

@mixin list{
	margin-bottom: $mb;
	margin-left: 15px;
		 > li{
			margin-bottom: $mb / 2;
		
			position: relative;
			&:before{
				content: '';
				height: 4px;
				width:4px;
				position: absolute;
				left:-15px;
				display: block;
				background-color: $primary;
				//top:12px;
				  @include rule--lockup(top, 8, 10, $lockupmin, $lockupmax);
				
			}
		}
		>li > ol > li{
			padding-left: 0;
			margin-bottom: $mb / 4;
			margin-left: 35px;
			&:before{
		
				font-weight: normal;
				position: absolute;
				left: -35px;
			
						
			}
		}
		>li > ol{
			margin-top: $mb / 2;
			margin-bottom: $mb;
		}
	
}
@mixin numbered-list{
	 counter-reset: item;
	margin-top: 10px;
		
	li{ display: block }
	
	
	
	> li:before { 
	
		content: counters(item, ".") " "; 
		counter-increment: item ;
		position: absolute;
		left:-10px;
		
	}

		
	> li{
		margin-left: 10px;
		margin-bottom: $mb;
		padding-left: 16px;
		position: relative;
		//text-transform: uppercase;
	//	font-weight: 500;
			>ol li{
				text-transform: none;
				font-weight: normal;
			}
		
		&:before{
			font-weight: 500;
						
		}
		> ol > li{
			padding-left: 30px;
		}
		> ol > li > ol >li{
			padding-left: 40px;
		}
	
		}
}

.child-content, .section--content .copy{

	ul{
		@include list;
	}
	ol{
		@include numbered-list
	}
	p{
		margin-bottom: $mb;
	}
	blockquote{
		@include largefont;
		max-width: inherit;
		width:100%;
	}
	table{
		margin-bottom: $mb;
		td{
			padding:10px;
			border:1px solid rgba(white, .4);
		}
		thead tr{
			background-color: $tertiary;
			td{
				border:1px solid $tertiary;
			}
		}
	}
}







@mixin tabs {

	
}

@import 'video';
@import 'carousel';