a{
	color:$primary;
	text-decoration: none;
	border-bottom:1px solid transparent;
	@include transition(background-color .3s, color .3s, opacity .3s, transform .3s, background-position .1s, border-color .3s);
	//.transition();
}
a:hover{
	text-decoration: none;
	//opacity: 0.8;
	border-color:$text;
	color:$text
}
a:active{
	//color:$highlight;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

@mixin cta { 

	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 38px;
	border:1px solid $text;
	padding: 0 30px;
	color:$text;
	@include rounded(60px);
	@include buttonfont;
	&:hover, &:active{
		background: $primary;
		border-color: $primary;
		//color:$background;  
	}
	
	&.invert{
			background: $text;
			color:$background;  
		&:hover, &:active{
			background: $primary;
			border-color: $primary;
			color:$text; 
		}
	}
}

.cta + .cta{
	margin-top: $mb / 2;
}
.cta{ @include cta;}


