$overlap: 400px;
.section--carousel{
	padding-top:0;
	padding-bottom: 0;
	.content{
		position: relative;
		overflow:hidden;
		padding: 0;
		max-width: $max-width + $overlap;
		&:after, &:before{
			content:'';
			position: absolute;
			height: 100%;
			width:16%;
			max-width: $overlap;
			top:0;
			z-index: 1;
			pointer-events: none;
		}
		&:after{
			right:0;	
			background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		}
		&:before{
			left:0;
			background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		}
	}
	overflow:hidden;
	width:100%;
}

.section--carousel + .section--carousel, 
.section--carousel + .section--module.no-bg{
	  @include rule--lockup(padding-top, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
	}
.section--carousel + .section--sign-off{
	@include rule--lockup(margin-top, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
}
.intro-wrapper{
	position: relative;
	z-index: 2;
	}

.carousel{
	width:100%;
	//@include push--auto;
	
	overflow: visible !important;

	
	.item{
		margin-right: $outer;
		height: 100%;
		opacity: 0.4;
	}
	.active-slide .item{
		opacity: 1;
	}
	>div{
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		&:after{
			content: '';
			width:100%;
			clear:both;
			display: block;
		}
	}



}

.button-controls{
	width:calc(90% - 50px);
	
	position: absolute;
	top:calc(50% + (2*#{$outer}));
	left:50%;
	pointer-events: none;
	z-index: 11;
	@include transform(translateX(-50%));
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	@include flex-wrap(wrap);
	
	.prev, .next{
		@include appearance(none);
		@include hide_text;
		@include shadow(inset 0px 0px 0px 1px $text);
		padding: 0;
		width:40px;
		height: 40px;
		position: relative;
		pointer-events: all;
		background: $text;
		border: none;
		@include rounded(20px);
		@include transition(background .3s);
		svg{
			position: absolute;
			left:50%;
			top:50%;
			@include transform(translate3d(-50%,-50%,0));
			polyline{
				fill:none;
				stroke:$background;
				@include transition(stroke .3s);
			}
		}
		&:hover{
			cursor: hand; cursor: pointer;
		}
		&:focus{
			outline:none;
		}
		&.disabled{
			background: $background;
			opacity: 0.6;
			svg{
			
				polyline{
					
					stroke:$text;
				}
			}
			&:hover{
				cursor: auto;
			}
		}
		
	}
	.prev{
		svg{ left:48%; }
	}
	.next{
		svg{left:52%;}
	}
	
}

.carousel-pagination{
	white-space: nowrap;
	@include transition(transform .3s);
	button{
		@include appearance(none);
		background: $background;
		border: none;
		outline-color: transparent;
		color:$text;
		padding: 0;
		border-bottom: 2px solid transparent;
		@include carouselnav;
		line-height: 2.4rem;
		margin-bottom: 2*$mb;
		margin-right: $mb;
		opacity: .5;
		@include transition(opacity .3);
		&:active, &:focus, &:-moz-focus-inner{
			border: 0;
			outline-color: transparent;
		}
		&.active{
			border-color: $text;
			opacity: 1;
		}
		&:hover{
			cursor: hand; cursor: pointer;
			
			opacity: 1;
		}
	}
	
}


/* -----------------------------------------------------------------------------------------------------------
															    
												Intro left
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-intro-left{
	.carousel-wrapper{
		width:50%;
	}
	.carousel{
		width:74%;
		margin-right: 26%;
	}
	.intro{
		width:38%;
		position: relative;
		z-index: 10;
		background: $background;
		margin-top: 2*$outer;
		padding: 0 8% $outer 0%;
		max-width:535px;
		
	}
	.content{
		@include flexbox;
		@include justify-content(flex-end);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		&:before{
			background: $background;
			left:100px;
		}
		
	}
	.item{
		@include flex-direction(column-reverse);
		@include justify-content(flex-end);
		.copy{
			width:100%;
		}
		h3{
			@include largefont;
		}
		.cta{
			margin-top: 2*$mb;
		}
		.image{
	//		background: tint($background,20%);
			width:35%;
			@include fixedImage(100%);
			margin-bottom: $mb;
			img{
				object-fit:contain
			}
		}
	}
	.button-controls{
		width:48%;
		left:auto;
		right:140px;
		top:50%;
		z-index: 11;
		@include transform(translateX(0%));
		
		}
		
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Full width
															    
------------------------------------------------------------------------------------------------------------- */
.section--carousel.type-full,
.section--carousel.type-podcasts,
.section--carousel.type-news,
.section--carousel.type-jobs{
	.intro{
		max-width: 380px;
		width:36%;
		margin-bottom: $outer;
	}
	.carousel, .carousel-pagination, .intro-wrapper{
		
		max-width: 1070px;
		@include push--auto;
		
	}
}

.section--carousel.type-full{
	.carousel, .carousel-pagination, .intro-wrapper{
		
		width:77%;
	}


	.item{
		padding: 1.5*$outer  1.5*$outer $outer  1.5*$outer;
		@include align-items(flex-start);
		.copy{
			width:40%;
		}
		
		.image{
			width:50%;
			max-width:370px;
			@include fixedImage(90%);
			img{
				object-fit:contain;
			}
		}
	}
	
}



/* -----------------------------------------------------------------------------------------------------------
															    
													Podcasts
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-podcasts{

	.carousel-wrapper, .intro-wrapper{
		
		width:77%;
		max-width: 1070px;
		@include push--auto;

	}
	.carousel{
		width:80%;
		margin-left: 0;
	}
	.carousel-pagination{
		margin-left: 0;
		button span{
			max-width: 320px;
			overflow: hidden;
			display: block;
			@include elipsis;
		}
	}
	.item{

		.copy{
	
		}
		.image-holder{
			max-width: inherit;
		}
		.image{
			background: tint($background,20%);
						
		}
	}
	
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
												NEWS
															    
------------------------------------------------------------------------------------------------------------- */

.section--carousel.type-news, .section--carousel.type-jobs{
	 .intro-wrapper{
		
		width:77%;
		max-width: 1070px;
		@include push--auto;

	}
	.intro{
		max-width: 320px;
		
	}
	.carousel-wrapper{
		width:38%;
		max-width: 1070px;
		@include push--auto;
	}
	.carousel{
		width:100%;
		margin-left: 0;
	}
	.carousel-pagination{
		margin-left: 0;
		button span{
			max-width: 320px;
			overflow: hidden;
			display: block;
			@include elipsis;
		}
	}
	.item{

		.copy{
	
		}
		.image-holder{
			max-width: inherit;
		}
		.image{
			background: tint($background,20%);
						
		}
	}
	

		
}


/* -----------------------------------------------------------------------------------------------------------
															    
											Dot pagination
															    
------------------------------------------------------------------------------------------------------------- */
.carousel-pagination.dots{
	transform: none !important;
	text-align: center;
	button{
		@include appearance(none);
		border: none;
		background: white;
		width:10px;
		height: 10px;
		@include rounded(10px);
		opacity: .2;
		margin: 0 5px;
		&.active{
			opacity: 1;
		}
	}
	
}
