
$w: 55px;
.clock {
  border-radius: 50%;
 // background: #fff url(../images/clock.svg) no-repeat center;
  background-size: 100%;
  border: 4px solid $primary;
  //padding-bottom: 31%;
  position: relative;
  width: $w;
    height: $w;
}




.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding:0;
}

.hours-container {
  animation: rotate 43200s infinite linear;
}




  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }



.local.steps {
  .minutes-container {
    animation: none;
  }
}


.minutes-container {
	
    transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  }
.seconds-container {
    transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}



@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}



.clock:after {
  background-color: #000;
  width: 5%;
  height: 5%;
}

.seconds {

  position: absolute;
  z-index: 8;
  background-color:  $primary;
  height: 20px;

  top: calc(50% - 20px);

  left: 48%;
  width: 2px;
  left: calc(50% - 1px);
  transform-origin: 50% 100%;
}

.minutes {
	@include rounded(10px);
 	background-color:  $primary;
 	background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 4px;
    left: calc(50% - 2px);
  height: 20px;

  top: calc(50% - 20px);
  transform-origin: 50% 94%;

}

.hours {
@include rounded(10px);
 background-color:  $primary;
 background-size: 100% 100%;
 background-repeat: no-repeat;
  height: 40%;
  position: absolute;
  width: 4px;

  left: calc(50% - 2px);
    height: 12px;
  top: calc(50% - 12px);
  transform-origin: 50% 94%;
}

.hours.angled {
  transform: rotateZ(-40deg);
}

.minutes.angled {
  transform: rotateZ(40deg);
}
