




@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basisgrotesque.woff2') format('woff2'),
         url('../fonts/basisgrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basisgrotesque-bold.woff2') format('woff2'),
         url('../fonts/basisgrotesque-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basisgrotesque-light.woff2') format('woff2'),
         url('../fonts/basisgrotesque-light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('../fonts/basisgrotesque-medium.woff2') format('woff2'),
         url('../fonts/basisgrotesque-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@mixin headerfont{
  font-weight: 500; //was bold
}

@mixin bodyfont{
 font-family: "Basis Grotesque Pro","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
  @include font--lockup(15, 18, $lockupmin, $lockupmax, 1.45);
 font-weight: lighter; //was normal
}


@mixin titlefont{
	text-transform: uppercase;
	font-weight: normal; //was 500
	@include font--lockup(12, 14, $lockupmin, $lockupmax, 1.4);
}

@mixin navfont{
  @include font-size(15,1.4);
}

@mixin mobilenavfont{
	 @include font-size(26,2.2);
}
@mixin buttonfont{
	@include font-size(15, 2.8);
}

@mixin blockquotefont{
	@include font--lockup(24, 36, $lockupmin, $lockupmax, 1.2);
}

@mixin largefont { 
	@include font--lockup(18, 22, $lockupmin, $lockupmax, 1.4);

}

@mixin smallfont { 	
	@include font--lockup(10, 14, $lockupmin, $lockupmax, 1.2);
}
@mixin tinyfont { 	
	@include font--lockup(10, 12, $lockupmin, $lockupmax, 1.2);
}

@mixin addressfont { 	
	@include font--lockup(12, 16, $lockupmin, $lockupmax, 1.6);
}

h2, h3, h1 {
	@include headerfont;
}



@mixin h1 {  
	//32 / 38
	@include font--lockup(21, 32, $lockupmin, $lockupmax, 1.2);
	margin-bottom: $mb / 2;
	
}

@mixin peopleh1{
		@include font--lockup(18, 24, $lockupmin, $lockupmax, 1);
		font-weight: normal; //was 500
}
@mixin h2{
	///was 21 32
	@include font--lockup(20, 31, $lockupmin, $lockupmax, 1.2);
	margin-bottom: $mb / 2;
}



@mixin carouselnav{
		@include font--lockup(16, 21, $lockupmin, $lockupmax, 1.4);	
	margin-bottom: $mb / 2;
}
@mixin h3{
///was 18 21
	@include font--lockup(18, 24, $lockupmin, $lockupmax, 1.35);	
	margin-bottom: $mb / 2;
}

@mixin h4{
	///was 15 18
	 @include font--lockup(14, 17, $lockupmin, $lockupmax, 1.4);
	@include titlefont;
	
	margin-bottom: $mb / 2;
	 
}

@mixin h5{
	@include bodyfont;
	font-weight: bold;
}

p + p, 
p + .cta,
p + ul{
	margin-top: $mb;
}


h1{@include h1}
h2{@include h2}
h3{@include h3}
h4{@include h4}
h5{@include h5}
.largefont{ @include largefont;}
.smallfont{ @include smallfont;}

.module--header h1 {@include h2;}

h4.fiona-show-logo{
	font-size: 0;
	
	max-width: 185px;
	margin-left: -14%;
	@include fixedImage(28%);
			background-image: url(../images/svg/fiona-show-logo.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 100%;
}
