.footer--offices{
	 @include rule--lockup(margin-top, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
	.content{
		@include flexbox;
		@include justify-content(flex-start);
		@include flex-wrap(wrap);
	}
	h4{
		margin-bottom: $mb;
	}
	p + p{
		margin-top: 0;
	}
	a{
		display: inline-block;
		color:$text;
		@include largefont;
	}
	.office{
		padding-right: 20px;
	}
	
	&.num-2 .office{min-width:42%;}
	&.num-3 .office,
	&.num-5 .office,
	&.num-6 .office
	{min-width:32%;}
	&.num-4 .office,
	&.num-7 .office
	{min-width:25%; a {@include bodyfont}}

}

.footer--navigation{
	padding-top: $mb;
	.content{
		@include flexbox;
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		@include smallfont;
	}
	.footer-wrap{
		@include flexbox;
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		width:100%;
	}
	
	nav{
		@include flexbox;
		@include justify-content(flex-start);
		@include flex-wrap(wrap);
		@include smallfont;
		width:100%;
	}
	a{
		color:$text;
	}
	.copyright{
	
	}
	.small-copy-wrap{
		width:60%;
	}
	.social-wrap{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		width:37%;
	}
	.smallcopy{
		@include tinyfont;
		display: block;
		margin-top: $mb/2;
		width:100%;
		max-width: 630px;
	}
	ul{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-end);
		@include flex-wrap(wrap);
		
		li{
			margin-left: $mb / 2;
		}
		a{
			border-color: $text;
			font-weight: bold;
			&:hover, &:active{
				opacity: 0.8;
			}
		}
	}
	.social-menu{
		a{
			font-size: 0;
			color: transparent;
			width:32px;
			height: 32px;	
			display: block;
			border:none;
			margin: 0 5px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 26px;
		}
	
		li:first-of-type{margin-left: 0;}
		
		
		.twitter a{background-image: url(../images/social/twitter.svg)}
		.instagram a{background-image: url(../images/social/instagram.svg)}
		.linkedin a{background-image: url(../images/social/linkedin.svg)}
		.facebook a{background-image: url(../images/social/facebook.svg)}
		.youtube a{background-image: url(../images/social/youtube.svg)}
		.vimeo a{background-image: url(../images/social/vimeo.svg)}
	}

	.veracode{
		display: inline-block;
		width:110px;
		border:none;
		&:hover{
			opacity: 0.8;
			text-decoration: none;
			border:none;
		}
	
	}
}