/*----------------------------------------------------------------------------------------------------------------
                                    Forms
---------------------------------------------------------------------------------------------------------------*/	
.nf-form-layout form{

input{
	
		border:none;
		padding: 0;
		margin:0;
		@include rounded(0);
		font-weight: 300;
	}
	
input[type="submit"], input[type="button"]{
	
	@include appearance(none);
	@include titlefont;
	text-transform: none;
	@include push--auto;
	
	
	background-color: black;
	line-height: 40px;
	min-width:300px;
	@include rounded(30px);
	color:$text;
	border:1px solid white;
	transition: border-color .3s, background-color .3s;
	&:hover, &:active{
		background: $primary;
	
		border-color: $primary;
		cursor: pointer;
		cursor: hand;
	}
	&[disabled]{
		opacity: 0.5;
	}
	
}
textarea{
	@include appearance(none);
	@include bodyfont;
	padding:10px;
	border: 1px solid $stroke;
	background: $background;
	width:100%;
	
}

input[type="tel"], input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"],select{
	line-height:50px;
	height: 50px;
	@include appearance(none);
	background: $text;
	min-width: 250px;
	border-bottom: 1px solid $stroke;
	padding-left:0px;
	padding-right: 10px;
	width:100%;
	@include bodyfont;
	font-weight: 500;

}
input[type="number"]{
	min-width:inherit;
	padding-right: 5px;
}
select{

	padding:0;
	padding-right: 3*$mb;
	//color:tint($background,70%);
	margin-bottom: $mb;
	line-height: 40px;
	padding-bottom: 10px;
	background: $text url(../images/svg/arrow-down-select.svg) no-repeat right center;
	background-size: 24px auto;
	border:none;
	border-bottom: 1px solid $stroke;
	@include rounded(0);
	
}

textarea:focus, input:focus, select:focus{

    outline:none;
    border-color:$primary;

}
label{

	color:tint($background,70%);
	display: block;
	line-height:40px;
	padding-bottom: 10px;
	//background: rgba(red,.2);
	transform-origin: top left;
	@include transition(transform .3s);
}

/* -----------------------------------------------------------------------------------------------------------
															    
												NINJA FORMS
															    
------------------------------------------------------------------------------------------------------------- */
	.nf-form-fields-required{
		@include smallfont;
		margin-bottom: $mb ;
		display: none;
	}
	.submit-wrap .nf-field-element{
		text-align: center;
	}
	///remove selct label

	.listselect-wrap .nf-field-label{
		//display: none !important;
		pointer-events: none;
	}

	
	.field-wrap:not(.listcheckbox-wrap){
		position: relative;
	
		.nf-field-label{
			position: absolute;
/*
			width:100%;
			height: 100%;
*/
			top:0;
			margin-bottom: 0;
			z-index: 2;
		}
		label.focused{
			color:$primary;
			font-weight: 500;
			@include transform(scale(.8) translateY(-18px));
		}
	}
	.listcheckbox-wrap{
	li{
		input,label{
			margin-bottom: $mb / 2;
		}
	}
	label{
		@include smallfont;
		line-height: 20px;
		color:$text;
		display: block;
		transform-origin: top left;
		@include transition(transform .3s);
	}
	}
	nf-field{
		margin-bottom: $mb;
	}
	.nf-field-label label{
		font-weight: normal;
	}
	.nf-error .ninja-forms-field {
		border:none;
		border-bottom: 1px solid red;
	}
	.nf-after-field, .nf-after-form-content{
		@include smallfont;
		position: absolute;
	}
	#ninja_forms_required_items, .nf-field-container{
		margin-bottom: 25px;
	}
}

#job-filter{
	input[type="submit"]{
		border:none;
		@include appearance(none);
		background: transparent;
		@include cta;
		margin-left: 2%;
		//
		display: none;///js is loadjobs() on option select
	}
}

#lever-jobs-filter{
	select{
		@include appearance(none);
		@include rounded(0);
		;
		color:white;
		height: 37px;
		line-height: 37px;
		border: 1px solid $text;
		border-left-color: rgba($text,0);
		border-right-color: rgba($text,0);
		border-top-color: rgba($text,0);
		padding: 0 0 0 10px;
		background: $background;

	}
}
.multiple-select{
	width:26%;
	min-width: 276px;
	position: relative;
	z-index: 1;
	@include font-size(15);
	min-height: 37px;
	
	legend{
		width:100%;
		height: 37px;
		line-height: 37px;
		border: 1px solid $text;
		border-left-color: rgba($text,0);
		border-right-color: rgba($text,0);
		border-top-color: rgba($text,0);
		padding: 0 0 0 10px;
		background: $background;
		position: relative;
		z-index: 1;
		position: absolute;
		top:0px;
		left:0;
		svg{
			margin-right: 10px;
			transform-origin: center;
			width:10px;
			height: 4px;
			position: absolute;
			right:0;
			top:calc(50% - 2px);
		}
	}
	.checks{
		border: 1px solid $text;
		transform-origin: top center;
		opacity: 0;
		position: absolute;
		width:100%;
		top:37px;
		left:0;
		pointer-events: none;
		overflow-y: auto; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
		max-height: 320px;
		background-color: $background;
		//@include transform(translateY(-10px));
		//@include transition(transform .3s, opacity .3s);
		@include transition( opacity .3s);
		&::-webkit-scrollbar {
		    width: .5em;
		}
		&::-webkit-scrollbar-track {
		   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		&::-webkit-scrollbar-thumb {
		  background-color: tint($background,20%);
		  outline: 1px solid tint($background,20%);;
		}
	}
	label{
		display: block;
		width:100%;
		position: relative;
		height: 28px;
	}
	input[type="checkbox"]{
		display: none;
	}
	.psuedo-checkbox{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		line-height: 28px;
	
		background: $background;
		color:$text;
		padding: 0 0 0 10px;
		@include elipsis;
		@include transition(background-color .2s, color .2s);
	}
	input[type="checkbox"]:checked + .psuedo-checkbox{

		background: $text;
		color:$background;
	}

	&.multi-select-open {
		z-index: 10;
		legend{
			border-color: $text;
		}
		legend svg{
			@include transform(rotate(180deg));
		}
		.checks{
			opacity: 1;
			z-index: 1;
			pointer-events: all;
			//@include transform(translateY(0px));
		
		}
	}
	&.move-up .checks{
		@include transform(translateY(calc(-100% - 37px)));
	}

}

#reward-filter{
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	@include flex-wrap(wrap);
	margin-bottom: 1.5 * $mb;
	//hide number arrows
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	
	    -webkit-appearance: none;
	    margin: 0; 
	}
	
	input[type=number] {
	    -moz-appearance:textfield; /* Firefox */
	}
	fieldset{
		position: relative;
		margin-bottom: 10px;
		width:50%;
		.legend{
			
			display: inline-block;
			margin-right: 10px;
		}
	}
	input[type="radio"]{
		display: none;
		&+label{
			border:1px solid transparent;
			padding: 0 30px;	
			line-height: 35px;
			margin-right: 10px;
			display: inline-block;
			text-align: center;
			opacity: .5;
			@include rounded(30px);
			@include transition(border-color .3s, opacity .3s);
			&:hover{
				cursor: pointer; cursor: hand;
			}
		}
	}
	input[type="radio"]:checked + label{
		border-color:white;
		opacity: 1;
	}
	.fieldset--search{
		text-align: right;
		input[type="number"]{
			background: transparent;
			color:white;
			border:none;
			border-bottom:1px solid white;
			min-width:205px;
			margin-left: 20px;
			@include bodyfont;
			&.cleared + .clear-input{
				display: none;
			}
		}
	}

	.clear-input{
		position: absolute;
		right:0;
		bottom:5px;
		background-image: url(../images/svg/cross-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10px;
		font-size:0;
		width:10px;
		border:none;
		
	}
}


.grecaptcha-badge{
left:calc(50% - 128px) !important;
bottom:-$mb !important;
position: relative !important;
box-shadow: none !important;

}

.section--form{
	.nf-form-layout form{
	input[type="tel"], input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"],select{
		background-color: $background;
		color:white;

	}
}
}