

/* -----------------------------------------------------------------------------------------------------------
															    
												GRID
															    
------------------------------------------------------------------------------------------------------------- */
html::before {
	//display: none;
	}



:root {
 // --offset: 1.5rem;
  --max_width: 82rem;
  --columns: 6;
  --gutter: 1%;
  --baseline: 3rem;
  --baseline-shift: 2rem;
 
  --color: hsla(286, 51%, 44%, .4);
  --color-text: hsla(286, 51%, 44%, 1);
 
  --media-query: ',mobile';
}

@media (min-width: $mobile) {
  :root {
    --offset: 2rem;
    //--gutter: .75rem;
    --color: hsla(286, 51%, 44%, 0.1);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'mobile - 600';
  }
}

@media (min-width: $phablet) {
  :root {
    --offset: 3rem;
    --columns: 12;
   // --gutter: 2rem;
    --color: hsla(204, 80%, 72%, 0.1);
    --color-text: hsla(204, 80%, 72%, 1);
    --media-query: 'phablet 600 -  990';
  }
}

@media (min-width: $tablet) {
  :root {
    --offset: 4rem;
    --color: rgba(247, 248, 16, 0.1);
    --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'tablet 990 - 1024';
  }
}

@media (min-width: $desktop) {
  :root {
    --offset: 4rem;
    --color: rgba(147, 248, 16, 0.1);
   --color-text: hsla(286, 51%, 44%, 1);
    --media-query: 'Desktop';
  }
}

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
}

html {
  position: relative;
}

html::before {
	@include box-sizing;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  //padding-left: $outer;
  //padding-right: $outer; 2vw + 10px
  //$outer: calc(2vw + 20px);
  width: calc(100vw - 60px); //width -  (2*outer)
 // width:100%;
  max-width: 1260px; /// 
  min-height: 100vh;
  content: '';
  background-image: var(--background-columns), var(--background-baseline);  
  background-size: var(--background-width) 100%;
  background-position: 0 var(--baseline-shift);
  z-index: 1000;
  pointer-events: none;
}

html::after {
  content: var(--media-query);
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: var(--color-text);
  z-index: 3000;
}




/*
	$lockupmax: 1360;
$lockupmin: 400;
//shadow 
$gutter:1%;
$outer: 40px;
$phablet: 780px;
$tablet: 990px;
$desktop: 1024px;
$widescreen: 1800px;
$mobile: 600px;
*/