

html {
  position: relative;
  
}

html::before {
	  content: '';
background-image:url(../placeholders/guide.jpg);
background-position: center top;
background-repeat: no-repeat;
background-size: 1420px auto;
position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
opacity: .2;
top:-130px;
left:0;
width:100%;
height: 600%;
z-index: 9999;
pointer-events: none;
}




/*
$phablet: 780px;
$tablet: 990px;
$desktop: 1024px;
$widescreen: 1800px;
$mobile: 600px;
*/