 @mixin box-sizing{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}


/*--------------------------------
	Media Queries
	used for outputting content either between media query tags
	example: basic usage
	.element {
		width: 50%;
		@include mq('tablet-small') {
			width: 20%;
		}
	}
	example: using max-width
	.element {
		width: 50%;
		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}
*/

@mixin mq($size, $type: min, $property: width) {

	@if map_has_key($breakpoints, $size) {
		$size: map_get($breakpoints, $size);
	}

	@if $type == max {
		$negative: if($media-query-units == em, 0.01em, 1px);
		$size: $size - $negative;
	}

	@media only screen and (#{$type}-#{$property}: $size) {
		@content;
	}

}



/*--------------------------------
	Margin / Padding Quick Resets
	example: top & bottom margin set to $mb
	.element {
		@include push--ends;
	}
	example: left & right padding set to $mb--small
	.element {
		@include soft--sides($mb--small);
	}
*/

// add/remove margins

@mixin push--ends($spacing: $mb) { margin: { top: $spacing; bottom: $spacing; } }
@mixin push--sides($spacing: $mb) { margin: { left: $spacing; right: $spacing; } }

@mixin push--auto { margin: { left: auto; right: auto; } }

@mixin offset--sides($spacing: $mb) { margin: { left: -$spacing; right: -$spacing; } }

@mixin flush--ends { margin: { top: 0; bottom: 0; } }
@mixin flush--sides { margin: { left: 0; right: 0; } }


// add/remove paddings

@mixin soft--ends($spacing: $mb) { padding: { top: $spacing; bottom: $spacing; } }
@mixin soft--sides($spacing: $mb) { padding: { left: $spacing; right: $spacing; } }

@mixin hard--ends { padding: { top: 0; bottom: 0; } }
@mixin hard--sides { padding: { left: 0; right: 0; } }



/*--------------------------------
	Helper mixins
*/

// Contain floats / clearfix

@mixin clearfloat {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}


// Hide from both screenreaders and browsers

@mixin hidden {
	display: none;
	visibility: hidden;
}



// Hide only visually, but have it available for screenreaders

@mixin vh($focusable: false) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	@if $focusable {
		@include vh-focusable;
	}
}

@mixin vh-reset {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}


// Allow the element to be focusable when navigated to via the keyboard

@mixin vh-focusable {

	&:active,
	&:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}





/*--------------------------------
	Form input placeholder text
	example:
	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}
*/

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}



/*--------------------------------
	Retina images
	example:
	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}
*/

@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3 / 2),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		@content;
	}
}



/*--------------------------------
	Content margins
	fore removing first/last child margins
	example: default
	.element {
		@include content-margins;
	}
	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}
	example: empty selector
	.element {
		@include content-margins('false');
	}
	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}
*/


@mixin content-margins($selector: '> *', $last-child: false) {
	@if not $selector {
		$selector: '&';
	}

	#{unquote($selector)} {
		&:first-child { margin-top: 0; }
		@if $last-child {
			&:last-child { margin-bottom: 0; }
		}
	}
}



/*--------------------------------
	CSS Triangle
	used for creating CSS only triangles
	example:
	.element {
		&::before {
			@include css-triangle(blue, down);
		}
	}
*/

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
	@include pseudo($pos: $position);
	width: 0;
	height: 0;

	@if $round {
		border-radius: 3px;
	}

	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round( $size / 2.5 );
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if  $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}



/*--------------------------------
	Hide text
	example:
	.element {
		@include hide-text;
	}
*/

@mixin hide-text($break: false, $indent: 200%, $align: left, $overflow: hidden) {
	@if $break {
		position: absolute;
		top: 0; left: 0;
		pointer-events: none;
	}
	text: {
		indent: $indent;
		align: $align;
	}
	font-size: 0;
	white-space: nowrap;
	@if $overflow {
		overflow: $overflow;
	}
}



/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/

@mixin responsive-ratio($x,$y, $pseudo: false) {
	$padding: unquote( ( $y / $x ) * 100 + '%' );

	@if $pseudo {
		&::before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}



/*--------------------------------
Font size
*/



@mixin font-size($sizeValue, $leading:1.4) {
  $lh : (($sizeValue/10) * 0.625) * $leading;
  $lhpx :$sizeValue * $leading;
  $remValue: ($sizeValue/10) * 0.625;
  $pxValue: ($sizeValue);
  font-size: unquote(( $pxValue) + "px");
  font-size: unquote(( $remValue) + "rem");
  line-height:unquote(( $lhpx) + "px");
  line-height:unquote(($lh) + "rem");
}

@mixin font--lockup($fs, $fl, $vps, $vpl, $lh) {
	//$f = $m*$vp + $b;// font($f) in pixels
	$m: ($fl - $fs) / ($vpl - $vps);
	$b: $fs - ($m * $vps);
	//rem settings for 16px html - change for other html sizes 0.0625 = 1px
	$r: 0.0625;
	//set up variables for calc
	$baseline: ($fs * $r) + rem; //baseline font size in rem
	$b2: ($b - $fs) + px; //what we need to add to the baseline
	$vw: ($m * 100) + vw; ///our viewport (*100 because vw units are in percentage)
	$min: $vps + px; // min for media queries
	$max: $vpl + px; //max for media queries
	$font_diff: ($fl - $fs) + px; /// difference in font sizes
	///initials
	font-size: $baseline; 
	line-height: $lh + em;

	//
	@media (min-width: $min) {
		
		font-size: calc( #{$baseline} + #{$vw} + #{$b2} ); 
	}
	
	@media (min-width: $max) {
		font-size: calc(#{$baseline} + #{$font_diff}); 


	}	

}

@mixin rule--lockup($rule, $mstart, $mlast, $vps, $vpl) {
	//$f = $m*$vp + $b;// padding($f) in pixels
	$m: ($mlast - $mstart) / ($vpl - $vps);
	$b: $mstart - ($m * $vps);
	
	//set up variables for calc
	$baseline: $mstart + px; //baseline font size in rem
	$b2: ($b - $mstart) + px; //what we need to add to the baseline
	$vw: ($m * 100) + vw; ///our viewport (*100 because vw units are in percentage)
	$min: $vps + px; // min for media queries
	$max: $vpl + px; //max for media queries
	$padd_diff: ($mlast - $mstart) + px; /// difference in font sizes
	///initials
	
	#{$rule}: $baseline; 
	

	//
	@media (min-width: $min) {
		$v : calc( #{$baseline} + #{$vw} + #{$b2} ); 
		#{$rule}: $v; 
	
	}
	
	@media (min-width: $max) {
		$v : calc(#{$baseline} + #{$padd_diff}); 
		#{$rule}: $v; 

	}	

}

@mixin soft-ends--lockup($padstart, $padlast, $vps, $vpl) {
	//$f = $m*$vp + $b;// padding($f) in pixels
	$m: ($padlast - $padstart) / ($vpl - $vps);
	$b: $padstart - ($m * $vps);
	
	//set up variables for calc
	$baseline: $padstart + px; //baseline font size in rem
	$b2: ($b - $padstart) + px; //what we need to add to the baseline
	$vw: ($m * 100) + vw; ///our viewport (*100 because vw units are in percentage)
	$min: $vps + px; // min for media queries
	$max: $vpl + px; //max for media queries
	$padd_diff: ($padlast - $padstart) + px; /// difference in font sizes
	///initials
	
	padding-top: $baseline; 
	padding-bottom: $baseline; 

	//
	@media (min-width: $min) {
		$v : calc( #{$baseline} + #{$vw} + #{$b2} ); 
		padding-top: $v; 
		padding-bottom: $v; 
	}
	
	@media (min-width: $max) {
		$v : calc(#{$baseline} + #{$padd_diff});
		padding-top:  $v;
		padding-bottom: $v; 

	}	

}

@mixin soft-sides--lockup($padstart, $padlast, $vps, $vpl) {
	//$f = $m*$vp + $b;// padding($f) in pixels
	$m: ($padlast - $padstart) / ($vpl - $vps);
	$b: $padstart - ($m * $vps);
	
	//set up variables for calc
	$baseline: $padstart + px; //baseline font size in rem
	$b2: ($b - $padstart) + px; //what we need to add to the baseline
	$vw: ($m * 100) + vw; ///our viewport (*100 because vw units are in percentage)
	$min: $vps + px; // min for media queries
	$max: $vpl + px; //max for media queries
	$padd_diff: ($padlast - $padstart) + px; /// difference in font sizes
	///initials
	
	padding-left: $baseline; 
	padding-right: $baseline; 

	//
	@media (min-width: $min) {
		$v : calc( #{$baseline} + #{$vw} + #{$b2} ); 
		padding-left: $v; 
		padding-right: $v; 
	}
	
	@media (min-width: $max) {
		$v : calc(#{$baseline} + #{$padd_diff});
		padding-left:  $v;
		padding-right: $v; 

	}	

}


@mixin hard-ends--lockup($mstart, $mlast, $vps, $vpl) {
	//$f = $m*$vp + $b;// padding($f) in pixels
	$m: ($mlast - $mstart) / ($vpl - $vps);
	$b: $mstart - ($m * $vps);
	
	//set up variables for calc
	$baseline: $mstart + px; //baseline font size in rem
	$b2: ($b - $mstart) + px; //what we need to add to the baseline
	$vw: ($m * 100) + vw; ///our viewport (*100 because vw units are in percentage)
	$min: $vps + px; // min for media queries
	$max: $vpl + px; //max for media queries
	$padd_diff: ($mlast - $mstart) + px; /// difference in font sizes
	///initials
	
	margin-top: $baseline; 
	margin-bottom: $baseline; 

	//
	@media (min-width: $min) {
		$v : calc( #{$baseline} + #{$vw} + #{$b2} ); 
		margin-top: $v; 
		margin-bottom: $v; 
	}
	
	@media (min-width: $max) {
		$v : calc(#{$baseline} + #{$padd_diff}); 
		margin-top: $v; 
		margin-bottom: $v; 
	}	

}



@mixin appearance($val: none) {
	-webkit-appearance: $val;
	-moz-appearance: $val;
	appearance: $val;
}


@mixin hardware($backface: true, $perspective: 1000) {

	@if $backface {
		backface-visibility: hidden;
	}

	perspective: $perspective;
}


@mixin pos($pos, $t, $r, $b, $l, $z: false, $hardware: true) {
	@if $pos == fixed and $hardware { @include hardware; }
	@if $pos { position: $pos; }
	@if $t { top: $t; }
	@if $r { right: $r; }
	@if $b { bottom: $b; }
	@if $l { left: $l; }
	@if $z { z-index: $z; }
}


@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}


@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
}


@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


@mixin unlist($margin: true, $padding: true) {
	@if $margin {
		@if $margin == 'vertical' {
			@include flush--ends;
		} @elseif $margin == 'horizontal' {
			@include flush--sides;
		} @else {
			margin: 0;
		}
	}
	@if $padding {
		padding: 0;
	}
	list-style: none;
}


@mixin unselectable {
	-webkit-touch-callout: none;
	user-select: none;
}


@mixin shadow($var...){
	-webkit-box-shadow: $var;
    -moz-box-shadow: $var;
    box-shadow: $var;
}
@mixin rounded($radius:4px){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
}

@mixin max-min-width($max:$max-width, $min:$min-width){
  max-width:$max;
  min-width:$min;
  margin-left: auto;
  margin-right: auto;
}
@mixin centre($val){
  position: absolute;
  top: 50%;
  left: 50%;
   width:$val;
  height:$val;
  margin-left:-$val/2;
  margin-top:-$val/2;
  background-size: $val;
}

/*
	.site-header {
    z-index: z('site-header');
}
*/
@mixin transition($vars...){
	-webkit-transition: $vars;
			-moz-transition: $vars;
			-o-transition: $vars;
			transition: $vars;

}

@mixin transform($v...){
	 -ms-transform: $v; /* IE 9 */
    -webkit-transform: $v; /* Chrome, Safari, Opera */
    transform: $v;
}

@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}
$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);


@mixin vertical-center($h:100%){
		display: table;
		height: $h;
		width:100%;
		> div{
			display: table-cell;
			vertical-align: middle;	
		}
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

%flexbox { @include flexbox; }

//----------------------------------

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

%inline-flex { @include inline-flex; }

//----------------------------------------------------------------------

// Flexbox Direction
//


@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}
	// Shorter version:
	@mixin flex-dir($args...) { @include flex-direction($args...); }

//----------------------------------------------------------------------

// Flexbox Wrap
//


@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else { 
		-ms-flex-wrap: $value; 
	}
	flex-wrap: $value;
}



//----------------------------------------------------------------------

// Flexbox Flow (shorthand)
//


@mixin flex-flow($values: (row nowrap)) {
	// No Webkit Box fallback.
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

//----------------------------------------------------------------------

// Flexbox Order
//


@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

//----------------------------------------------------------------------

// Flexbox Grow
//


@mixin flex-grow($int: 0) {
	-webkit-box-flex: $int;
	-webkit-flex-grow: $int;
	-moz-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}

//----------------------------------------------------------------------

// Flexbox Shrink
//


@mixin flex-shrink($int: 1) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex-negative: $int;
	flex-shrink: $int;
}

//----------------------------------------------------------------------

// Flexbox Basis
//


@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	-moz-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}

//----------------------------------------------------------------------

// Flexbox "Flex" (shorthand)
//


@mixin flex($fg: 1, $fs: null, $fb: null) {
    
	// Set a variable to be used by box-flex properties
	$fg-boxflex: $fg;

	// Box-Flex only supports a flex-grow value so let's grab the
	// first item in the list and just return that.
	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
	}

	-webkit-box-flex: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg-boxflex;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

//----------------------------------------------------------------------

// Flexbox Justify Content
//


@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;		
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}
	// Shorter version:
	@mixin flex-just($args...) { @include justify-content($args...); }

//----------------------------------------------------------------------

// Flexbox Align Items
//


@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

//----------------------------------

// Flexbox Align Self
//
// Values: auto | flex-start | flex-end | center | baseline | stretch
// Default: auto

@mixin align-self($value: auto) {
	// No Webkit Box Fallback.
	-webkit-align-self: $value;
	-moz-align-self: $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

//----------------------------------------------------------------------

// Flexbox Align Content


@mixin align-content($value: stretch) {
	// No Webkit Box Fallback.
	-webkit-align-content: $value;
	-moz-align-content: $value;
	@if $value == flex-start {
		-ms-flex-line-pack: start;
	} @else if $value == flex-end {
		-ms-flex-line-pack: end;
	} @else {
		-ms-flex-line-pack: $value;
	}
	align-content: $value;
}



@mixin elipsis(){
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}


@mixin fixedImage($r:56%){
	overflow: hidden;
	position: relative;
	img{
		position: absolute;
		min-width:100%;
		min-height: 100%;
		object-fit: cover;
		top:50%;
		left:50%;
		@include transform(translate(-50%, -50%));
	}
	
	&:after{
		content:'';
		display: block;
		padding-top: $r;
		width:0;
		float:left;
		position:relative;
	}

}

