$button-width: 70px;
$b-line-width: 26px;
$b-line-height: 1px;
$b-transition-time: 0.2s;
$b-bg: $text;
.menu-button {

	  display: block;
	  position: absolute;
	  top:0;
	  z-index: 201;
	  margin:0;
	  padding: 0;
	  
	  width: $button-width + 20;
	  height: $button-width;
	 
	  @include hide_text();
	  @include appearance(none);
	  box-shadow: none;
	  border-radius: none;
	  border: none;
	  cursor: pointer;
	  background: transparent;
	  overflow: visible;
	  &:focus{
		  outline:none;
		  border:none;
	  }
	  span {
		  display: block;
		  position: absolute;
		  top: $button-width / 2;
		  left:calc(50% - #{$b-line-width/2});
		  
		  width:$b-line-width;
		  height: $b-line-height;
		 background-color: $b-bg;
		  @include transition(background-color $b-transition-time $b-transition-time);
		
		}
		span::before,
		span::after {
		  position: absolute;
		  display: block;
		  left: 0%;
		  width: 100%;
		  height: $b-line-height;
		  background-color: $b-bg;
		  content: "";

		}
		
		span::before {
		  top: -7px;
		  @include transition(top $b-transition-time  linear $b-transition-time , transform $b-transition-time  linear 0s);
		  
		
		}
		
		span::after {
		  bottom: -7px;
		  @include transition(bottom $b-transition-time  linear $b-transition-time , transform $b-transition-time  linear 0s);
		}
		
		
}


.menu-visible{
	

	.menu-button{
		span {
		  background-color: rgba($primary,0);
		   @include transition(background-color $b-transition-time);
		}
		
		span::before {
		  top: 0;
		  @include transform(rotate(45deg));
		  @include transition(top $b-transition-time  linear 0s , transform $b-transition-time  linear $b-transition-time);
		}
		
		span::after {
		  bottom: 0;
		  @include transform(rotate(-45deg));
		  @include transition(bottom $b-transition-time  linear 0s , transform $b-transition-time  linear $b-transition-time);
		}	
	}
	
}