

#modal-holder {
	position: fixed;
	
	
	.hide-modal {
		display: block;
		position: absolute;
		top:0;
		right:0;
		z-index: 20;
		font-size: 0;
		color:transparent;
		width:70px;
		height: 70px;
		background-image: url(../images/svg/cross.svg);
		background-size: 18px;
		background-position: center center;
		background-repeat: no-repeat;
		border: none;
		&:hover{
			opacity: .8;
		}
		
	}

}

.modal-form{
	background:rgba($background, .8);
	right:0;
	top:0;
	
	@include transform(translateY(100%));
	pointer-events: none;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none; 
	opacity: 0;
	width:100vw;
	height: 100vh;
	 -ms-overflow-style: none; 
	 -webkit-overflow-scrolling: touch;
	 @include transition(transform 0s .5s, opacity .5s);
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	
	 .modal-content{
		 position: relative;
		 margin-top:auto;
	margin-bottom: auto;
		@include soft-ends--lockup(30, 60, $lockupmin, $lockupmax);
		width:100vw;
		max-width: 520px;
		min-height: 500px;
		background: $text;
		color:$background;
	}
	.content{
		padding: 0 68px;
	}

}




.show-modal {
	overflow: hidden;
	.modal-form{
		z-index: 10000;
		opacity: 1;
		@include transform(translateY(0%));
		pointer-events: all;
		@include transition(transform 0s, opacity .5s);
	}
	#drift-widget-container{
		z-index: 9999 !important;

	}	
}

.show-people-modal{
	overflow: hidden;
}

.shadow{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	
	z-index: 9;
}


.people-modal{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(black,0.8);
	z-index: 101;	
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	&:before{
		content: '';
		width:30px;
		height: 30px;
		position: absolute;
		left:50%;
		margin-left: -15px;
			background-image: url(../images/png/loading-dark.gif);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
		opacity: 1;
	}
	.section--person{
		width:$rw;
		  @include soft-ends--lockup($softlockupmin, 40, $lockupmin, $lockupmax);
		
		background: $text;
		color:$background;
		position: relative;
		z-index: 12;
	
		.content{
			@include flexbox;
				@include justify-content(space-between);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			
		}
		.copy{
			width: 56%;
		}
		
		.image{
			width:38%;
		}
		h1{
			@include peopleh1;
			margin-bottom: $mb / 4;	
		}
		h1 + h4{
			margin-bottom: $mb;
		}
		.links{
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-wrap(wrap);
			margin-top: $mb;
			a{
				font-size: 0;
				color:transparent;
				height: 25px;
				width:35px;
				display: block;
				background-position: center center;	
				background-repeat: no-repeat;
				background-size: auto 100%;
				margin-right: 10px;
				border: none;
				&:hover{
					border: none;
					opacity: .6;
				}
			}
			.linkedin-link{
				background-image: url(../images/svg/icon-linkedin.svg);
			}
			.email-link{
				background-image: url(../images/svg/icon-envelope.svg);
			}
		}
	}
	.pagination{
		position: fixed;
		z-index: 10;
		width:calc(#{$rw} + 10vw);
		height: 40px;
		top:50%;
		left:50%;
		@include transform(translateX(-50%));
		a{
			position: absolute;
			display: block;
					
			@include shadow(inset 0px 0px 0px 1px $text);
			
			width:40px;
			height: 40px;
			background: $text;
			@include rounded(20px);					
			
			background-repeat: no-repeat;
			background-size: 26%;
			//background-color: red;
		}
		.disabled{
			pointer-events: none;
			opacity: 0.5;
			background-color: transparent;
			
			&.prev-person{background-image: url(../images/svg/arrow-left-white.svg)};
			&.next-person{background-image: url(../images/svg/arrow-right-white.svg)};
		}
		.prev-person{
			background-position: 45% center;
			left:0;
			background-image: url(../images/svg/arrow-left.svg);
		}
		.next-person{
			background-position: 55% center;
			right:0;
			background-image: url(../images/svg/arrow-right.svg);
		}
	}
	.close-people-modal{
		position: absolute;
		top:0;
		right:0;
		width:60px;
		z-index: 14;
			height: 60px;
			display: block;
			background-image: url(../images/svg/cross.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 30%;
			//background-color: blue;

	}
	
}

.loading-people-modal{
	.pagination a{
		pointer-events: none;
		opacity: .6;
	}
	.people-modal:before{
		opacity:1;
		@include transition(opacity .3s 1.2s);
		}
}

