.animate-menu{
	
}

.header--site{


	
	.logo{
		display: inline-block;
		img{
			width: 100%;
		}
		
	}


}
.main-menu li{position: relative;}

.drop-down{
	position: absolute;
	left:0;
	padding: 10px 3px;
	min-width:100%;
	pointer-events: none;
	opacity: 0;

	transform: translateY(-10px);
	transition: opacity .3s, transform .3s;
	.links{
		background-color: black;
		border: 1px solid white;
		padding:10px;
		border-radius: 10px;
		position: relative;
		filter:  drop-shadow(0 5px 4px rgba(0,0,0,0.4));
		&:before{
			content:'';
			width:10px;
			height: 10px;
			display: block;
			background-color: black;
			position: absolute;
			top:-1px;
			left:50%;
			transform:  translate(-50%, -5px) rotate(45deg);
			border-top: 1px solid white;
			border-left: 1px solid white;
		
		}
	}
	a{
		display: block;
		text-align: center;
		//color:$primary !important;
		border: none !important;
		&:hover{
			color: $primary !important;
		}
		
	}

}
.show-dropdown + .drop-down{
	pointer-events: all;
	opacity: 1;
	
	transform: translateY(0px);
}
//menu break point;
$nbp: 990px;

/* -----------------------------------------------------------------------------------------------------------
															    
												 DESKTOP 
															    
------------------------------------------------------------------------------------------------------------- */
///z index - logo 20, menu -21;
@media (min-width: $nbp) {
	
	.mobile{
		display: none !important;
	}
	.header--site{
		.content{
			width:100%;
			max-width: inherit;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
		}
	
		//@include fade-in;
		@include transition(height .3s);
		z-index: 100;
		background: $background;
		position: fixed;
		width:100%;
		
		top:0;
		border-bottom: 1px solid rgba($text, .2);
		height: $nav-height;
		padding: 14px 0px;
		&.el__show{
			@include transition(opacity 1s .2s, height .3s 0s);
		}
		.logo{
			border:none;
			width:140px;
			margin-top: 5px;
			&:hover, &:active{
				color:$highlight;
			}
		}
		
	}
	
	.menu-button{
		display: none;
		pointer-events: none;	
	}
		
	.nav--main{
		@include navfont;
		ul{
			@include flexbox;
			@include justify-content(flex-end);
			@include align-items(center);
			//@include flex-wrap(wrap);
		}
		li{
			//@include rule--lockup(margin-right, 20, 30, $nbp, 900px);
			  @include rule--lockup(margin-right, 20, 30, 760, 920);
			//margin-right: 30px;
		}
		li:last-of-type{
			margin-right: 0;
		}
		a:not(.cta){
			border:none;
			color:$text;
			border-bottom: 2px solid $background;
			padding-top: 5px;
			padding-bottom: 5px;
			&:hover, &:active{
				//color:$highlight;
				border-bottom-color:$text;
			}
		}
		.current-menu-item a{
			//color:$highlight;
			border-bottom-color:$text;
			
		}

		.current-menu-ancestor > a{
			border-bottom-color:$text;
			
		}
		.current-menu-parent > a{
			border-bottom-color: transparent;
		}


	}
		

	
	
	.menu-item-has-children > a{
		position: relative;
		padding-right: 18px;
		&:after, &:before{
		    content: " ";
		    height: 2px;
		    width:7px;
		    background: $text;
		    display: block;
		    position: absolute;
		    right:0px;
		    top:calc(50% - 2px);
		    @include transition(transform .3s);
			}
		&:after{
			@include transform(rotateZ(40deg));
			right:5px;
		}
		&:before{	
			@include transform(rotateZ(-40deg));
		}
		&:hover{
			//&:after, &:before{ background:$highlight;}
		}
		
	}
	
	ul.sub-menu{
		display: block;
		position: absolute;
		
		width:280px;
		line-height: 2rem;
		padding-top: $mb;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		@include transform(translateY(-15px));
		@include transition(transform .3s, opacity .3s);
		overflow: hidden;
		a{
			border-bottom: none;
		}
		a:hover, .current-menu-item a{
			//border-bottom: none;
			//color:$highlight;
		}
		/////SUB SUB
		
		ul.sub-menu{
			padding-top: 0;
			position: relative;
		}
		.menu-item-has-children > a{
			pointer-events: none;
			text-transform: uppercase;
			color:darken($text,40%);
			@include titlefont;
			&:before, &:after{
				display: none;
				
			}
		}
	}
	
	.menu-item-has-children.active {
		&>a:after{ @include transform(rotateZ(-40deg)); }
		&>a:before{ @include transform(rotateZ(40deg)); }
		ul.sub-menu{
			opacity: 1;
			@include transform(translateY(0px));
			z-index: 10;
			pointer-events: all;
		
		
		}
	}
	

	.home-link{
		display: none;
	}
	
}




/* -----------------------------------------------------------------------------------------------------------
															    
												!Mobile
															    
------------------------------------------------------------------------------------------------------------- */

@media (max-width: $nbp - 1) { 

	.desktop{
		display: none !important;
	}
	
	.header--site{
		z-index: 100;
		background: $background;
		position: fixed;
		width:100vw;
		top:0;
	
		height: $nav-height;
		//padding: 14px 20px;
		a, a:hover{
			border:none;
		}
		.content{
			padding: 0;
			width:100%;
				border-bottom: 1px solid darken($stroke,40%);
		}
		.logo{
			padding: 20px 0 0 30px;
			position: relative;
			z-index: 199;
			width:100%;
			background: black;
			height: $nav-height;
			img{
			width:34px;
			height: auto;	
			}
		}
			
		}

	.menu-button{
		pointer-events: all;	
		right:0;
		top:0;
 
	}

	.nav--main{
		position: absolute;
		top:0;
		width:100vw;
		height: 100vh;
		background: $background;
		z-index: 198;
		overflow: scroll;
	
		@include transform(translate3d(0%,-100%,0));
		@include transition(transform .3s, opacity .2s);
		
		@include flexbox;
	
		@include align-items(center);
		@include flex-wrap(wrap);
	}

	.main-menu{
		//position: absolute;
		left:0;
		top:0;
		width:100vw;
		background: $background;
		padding: 90px 20px 90px 30px;
		pointer-events: all;
		
		li{
			opacity: 0;
			@include transform(translate3d(-10px,0%,0));
			@include transition(transform .5s  .3s , opacity .2s 0s);
			width:100%;
		}
		a:not(.cta){
			@include  mobilenavfont;
			color:$text;
			
			display: block;
		}
		a.cta{
			margin-top: $mb;
			width:100%;
			max-width: 320px;
			background: $primary;
			border: none;
		}
		
	}

	.menu-item-has-children > a{
		position: relative;
		padding-right: 20px;
		&:after, &:before{
		    content: " ";
		    height: 2px;
		    width:7px;
		    background: $text;
		    display: block;
		   position: absolute;
		   right:20px;
		    top:calc(50% - 2px);
		    @include transition(transform .3s);
			}
		&:after{
			@include transform(rotateZ(40deg));
			right:25px;
		}
		&:before{	
			@include transform(rotateZ(-40deg));
		}
		&:hover{
			//&:after, &:before{ background:$highlight;}
		}
		
	}

	
	.menu-item-has-children.active {
		&>a:after{ @include transform(rotateZ(-40deg)); }
		&>a:before{ @include transform(rotateZ(40deg)); }
		ul.sub-menu{
			opacity: 1;
			@include transform(translateY(0px));
			z-index: 10;
			pointer-events: all;
		
		
		}
	}
	
	
	
	ul.sub-menu{
		height:0;
		opacity: 0;
		pointer-events: none;
		@include transition(height .3s, opacity .3s);
		li a:not(.cta){ @include h2; line-height:2.8rem; padding-left: 10px;}
		//SUB SUB
		.menu-item-has-children > a{
			pointer-events: none;
			text-transform: uppercase;
			color:darken($text,40%);
			@include titlefont;
			&:before, &:after{
				display: none;
				
			}
		}
		.menu-item-has-children > a + ul {
			height: auto;
		}
	}
	
		////main menu is visible
	.menu-visible{
		overflow: hidden;
		.nav--main{
		
			@include transform(translate3d(0%,0,0));
			@include transition(transform .5s, opacity .2s .3s);
		}
		.main-menu{
		
			@for $i from 1 through 30 {
					 li:nth-child(#{$i}){
						 opacity: 1;
						 @include transform(translate3d(0px,0%,0));
						 @include transition(transform .5s   , opacity .5s);
						 transition-delay: #{ ($i / 10) + .2}s;
					
					 }
				}
			
			
		}
	}

	///show the sub nav
	.drop-down{
	//display: none;
    	
		bottom:40px;
		padding: 10px 3px;
		transform: translateY(-10px);
			left:-3px;
		.links{
			max-width: 320px;
			&:before{
				content:'';
				width:10px;
				height: 10px;
			bottom:-11px;
				top:auto;
				left:50%;
				
				border-top: none;
				border-left: none;
				border-bottom: 1px solid white;
				border-right: 1px solid white;
			
			}
		}
		a{
			font-size: 18px !important;
			line-height: 40px !important;
		
			
		}
	
	}
	

}

