$duration: 60s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.news-ticker {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 50px;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;
  &:hover{
	   .ticker-items{
	  animation-play-state: paused;
	  }
  }
  .ticker-items {

    display: inline-block;
    height: 50px;
    line-height: 50px;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    .ticker__item {

      display: inline-block;
	  @include navfont
      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }

  }

}
