
//----------------------------------------------------------------------

//COLOURS

//--

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}


$primary:#EAAA00; //tellow
$text:#333333; //


$secondary:#CF578A; //purple
$tertiary:#CD7925; //orange  
$quaternary:#004996;
$highlight:$secondary; ///teal


$background: #ffffff;

$tint:tint($text, 90%);
$stroke:#d6d6d6;

//----------------------------------------------------------------------

// Max Min width

///------------------------------------------------------------------
$max-width:1920px;
$min-width:320px;

//----------------------------------------------------------------------

// Spacing units

///----------------------------------------------------------------------
$mb: 1rem;


$small: 16;

//$shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
$shadow:0 1px 2px rgba(0,0,0,0.18);

$corners: 3px;
$nav-height:50px;
$lockupmax: 1920;
$lockupmin: 400;
//shadow 
$gutter:2%;


//----------------------------------------------------------------------

// Reading width

//----

$rw: 1030px;


$phablet: 600px;
$tablet: 990px;
$desktop: 1024px;
$widescreen: 1800px;
$mobile: 400px;

$outer: calc(2vw + 20px);


$c_facebook:#3b5998;
$c_twitter: #55acee;

$c_google: #dd4b39;
$c_youtube: #bb0000;
$c_linkedin: #007bb5;
$c_instagram: #e95950;
$c_pinterest: #cb2027;
