
//----------------------------------------------------------------------

//COLOURS

//--

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}




$primary:#D83BB3; //pink

$secondary:#FF5F00; //Orange

$tertiary:#00ADBB;//Blue
$text:#fff; ///gray
$locations:#655DC6;

$highlight:$secondary; 

$background: #000;
$tint:#FCFAF9;
$stroke:#AFB8B6;
//655DC6
$text_gray:#A8B2B0;
//----------------------------------------------------------------------

// Max Min width

///------------------------------------------------------------------
$max-width:1320px;
$min-width:320px;
//
$mw: 260px; //mobile content max
//----------------------------------------------------------------------

// Spacing units

///----------------------------------------------------------------------
$mb: 20px;

$corners: 0px;
$nav-height:70px;

$lockupmax: 1360;
$lockupmin: 750;
//shadow 
$gutter:1%;
$outer: 40px;


$rw: 900px;
$softlockupmax:70;
$softlockupmin:42;

//----------------------------------------------------------------------

// MEDIA

//----


$phablet: 750px;
$tablet: 990px;
$desktop: 1024px;
$widescreen: 1800px;
$mobile: 500px;


