.header .video-holder{
	position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   
   overflow: hidden;
	z-index: 0;
	//background: rgba($text, .3);
	iframe{
		width: 100vw;
	   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	   min-height: 100vh;
	   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	   
	}

	
	
}
///video button
.play-video{
	position: absolute;
	z-index: 20;
	bottom:$outer;
	left:$outer;
	color:$background;

	@include h4;
	background-image: url(../images/svg/icons/icon-play.svg);
	background-repeat: no-repeat;
	background-position: left 48%;
	background-size: 9px auto;
	padding-left: 15px;
	pointer-events: all;
	&:after{
		content:attr(data-copy);
		
	}
	
	&:hover{
		cursor: hand;
		cursor: pointer;
	}
	&.is-playing{
		background-image: url(../images/svg/icons/icon-pause.svg);
	}
}


///fade in iframe (all types of video)
.video-holder{
	iframe{
		opacity:0;
	}
	.play-video{
		opacity: 0;
		pointer-events: none;
	}
	
	&.video-ready{
		.play-video{
			opacity: 1;
			pointer-events: all;
			}
		iframe{
			opacity: 1;
			@include transition(opacity 1s, 2s);
			}
		&:before{
			opacity: 0;
		}
	}
}

//in page video size, drivers and video section
.section--driver .video-holder, 
.section--video .video-holder{
	width:100vw;
	overflow: hidden;
	position: relative;
	@include fixedImage(40%);
	iframe{
		width: 100vw;
	   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	   min-height: 100vh;
	   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);

	}

	
}

.films-holder .video-holder{
	width:100%;
	overflow: hidden;
	position: relative;
	@include fixedImage(40%);
	max-width: 1410px;
	@include push--auto;
	
	background-size: cover;
	iframe{
		width: 100%;
	   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	   min-height: 100vh;
	   //min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);

	}

}
//Click version
.video-holder-click{
	background-size: cover;
	background-position: center center;
	&:before{
		content:'';
		position: absolute;
		top:50%;
		left:50%;
		z-index: 20;
		display: block;
		max-width:95px;
		max-height: 95px;
		min-width:50px;
		min-height: 50px;
		width: 5vw;
		height: 5vw;
		background-size: 98%;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../images/svg/icons/icon-play2.svg);
		@include transform(translate3d(-50%, -50%,0));
		@include transition(opacity .3s);
		
	}
	&:hover, &:active{
		cursor: pointer;
		cursor: hand;
			&:before{opacity: 0.8};
		}
	&.show-video, &.video-ready{
		&:before{
			display: none;
		}
	}
}
.show-video{
	background-image: url(../images/png/loading.gif);
	background-position: center center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
}
.video-ready{
	background-image: none;
}

.section--video{
	h2{
		text-align: center;
		color:$primary;
		margin-bottom: $mb;
		@include h4;
	

	}

}