.wp-caption-text, .gallery-caption{
	@include smallfont;
}

.sticky{
	
}

.bypostauthor {
	 @include smallfont;
}
.alignright{
	float: right;
	margin: $mb / 4 0 $mb $mb;
	max-width: calc(100vw - 70px);
	height: auto;
}
.alignleft{
	float:left;
	margin: $mb / 4 $mb $mb 0;

}
.aligncenter{
		clear: both;
	display: block;
	margin: $mb / 4 auto $mb auto;
}

.wp-block-image  {
	margin-bottom: $mb;
	figcaption{
		font-style: italic;
		background: $tint;
		margin-top: 0;
		line-height: 2rem;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
	}
}


.blocks-gallery-item{

}
/* WP admin bar */

#wpadminbar{
	opacity: 0;
	@include transition(opacity .5s);
	
	&:hover{
		opacity: 1;
	}
}

