
//@import 'scss/vars';
//@import 'scss/mixins';
//@import 'scss/fonts';

//$black: #23282d;

 .mce-listbox * {
   // font-family: Consolas,Monaco,monospace;
font-family: "Basis Grotesque Pro","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    
   
    }