@import 'scss/vars';
@import 'scss/mixins';
@import 'scss/fonts';
@import 'scss/buttons';

p, .cta, h1,h2,h3,h4,h5,h6,ul,li,a,blockquote,ol,dl{
	color:black;
	font-family: 'Basis Grotesque Pro', serif;
}
a{
	color:$highlight;
}

.cta{
	border-color: black;
}

h4.fiona-show-logo{
	color:transparent;
	max-width: inherit;
	line-height:60px;
	height: 60px;
	font-size: 20px;
	margin-left: 0 !important;
	background-image: url(../images/svg/fiona-show-logo-dark.svg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
