@import 'scss/base';



.section--module{

	position: relative;
	overflow: hidden;
	.content{

	}
	.content--inner{
		
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(center);
		@include flex-wrap(wrap);
		@include fixedImage(45%);
		min-height: 500px;
		
	}
	.copy{
		max-width: 381px;
		margin-left: 8%;
		width:36%;
		position: relative;
		z-index: 1;
		h1,h2{
			max-width: 350px; ///was 330px
		}
	}
	img{
		position: absolute;
		width:auto;
		height: 100%;
		top:0;
		left:50%;
		@include transform(translateX(-50%));
	}
	
	&.align-right{
		.content--inner{

		}
		.copy{
			margin-left: 59%;
		}
	}
	///has a background color
	&.has-bg{
		.content--inner{
			min-height: 500px;
			@include fixedImage(50%);
		}
	}
	
	&.no-bg{
		padding-top:0;
		padding-bottom: 0;
	
	}
	&.no-bg.wordpress-content{
		 @include rule--lockup(margin-top, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
	}
	&.type-latest_podcast{
		.content{
			position: relative;
		}
		svg{
					position: absolute;
					width:auto;
					height: 105%;
					top:00%;
					@include transform(translateX(50%));
					//top:0;
					right:30%;
					
		}
		.cta{
			min-width: 250px;
		}
		p + .cta{
			margin-top: $outer;
		}
	
		
	}
	&.no-img{
		.copy{
			max-width: inherit;
			width:$rw;
			margin-left: 0;	
		}
	}
	blockquote{
		color:$text;
		padding-left: 0;
		@include largefont;
		font-weight: lighter;
		font-style: italic;
		
		&:before, &:after{
			display: none;
		}
	}
	
	&.has-arm{
		.country-image{
			position: absolute;
			width:30%;
			top:25%;
			min-height: 205px;
			height: 41%;
		
			left:8%;
			@include rule--lockup(margin-left, -73 , 0, 751, 1050);
			
		}
		
	}
}

.wordpress-content.has-bg{

	.content--inner{

		@include fixedImage(62%);
	
		
	}
}

.module-masthead{
	background-color: $tertiary;

	@include soft-ends--lockup($softlockupmin, 60, $lockupmin, $lockupmax);
	.copy{
		max-width: 700px;
		width: 70%;
		h1, h2{
			max-width: inherit;
			max-width: 550px;
		}
		.cta{
			min-width: 25%;
			margin-top: 10px;
		}
	}
	.buttons_title{
		text-transform: uppercase;
	}
}

.section--panels{
	padding-top: 0;
	padding-bottom: 0;
	.panel-drivers{
		display: flex;
		align-items: stretch;
		flex-wrap:wrap;
		justify-content: space-between;
	}
	.panel{
		color:white;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 184px;
		margin-bottom: 1%;
		p{
			min-height: 46%;
			line-height: 1.2em;
			font-weight: bold;
		}
		&.dark_text{
			color:$background;
		}
		&:hover{
			border-color: transparent !important;
			opacity: .8;
		}
		h3{
			@include bodyfont;
			line-height: 1.2em;
			
			text-transform: uppercase;
		}
	}
	&.num-1, &.num-2, &.num3{
		.panel-drivers{
			justify-content: center;
		}
		.panel{
			margin-right: 1%;
			width:32.5%;
			&:nth-of-type(3n+3){margin-right: 0%;}
		}
	}
	&.num-4, &.num-8, &.num-7{
		.panel{
			width:24.2%;
			&:nth-of-type(4n+4){margin-right: 0%;}
		}
	}
	&.num-5, &.num-9, &.num-10{
		.panel{
			width:19.2%;
			&:nth-of-type(5n+5){margin-right: 0%;}
		}
	}
	&.num-6, &.num-11, &.num-12{
		.panel{
			width:16%;
		
			&:nth-of-type(6n+6){margin-right: 0%;}
		}
	}
	&.num-7{
		.panel{
			&:nth-of-type(n + 5){
				width:32.5%;
			}
		}
	}
	&.num-9{
		.panel{
			&:nth-of-type(n + 6){
				width:24.2%;
			}
		}
	}
	&.num-11{
		.panel{
			&:nth-of-type(n + 7){
				width:19.2%;
			}
		}
	}
}
.intro-paragraph{
	padding-top:50px;
	padding-bottom: 50px;
	.copy{
		margin-left: 8%;
		width:84%;
	}
}
@media (min-width: 1440px) {
	.intro-paragraph .copy{  width:50%; 	}
	.module-masthead .copy{
		max-width: 550px;
		width: 50%;
	}
}


.page-template-t_points,
.page-template-t_rewards{
	.wordpress-content.has-bg{

	.content--inner{

			@include fixedImage(50%);
	
		
	}
}
}
.section--story-module{

	position: relative;
	overflow: hidden;
	.content{

	}
	.content--inner{
		
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		@include soft-ends--lockup($softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
		@include rule--lockup(margin-bottom, 150, 400, $lockupmin, $lockupmax );
	//	min-height: 500px;
		
	}
	.copy{
		width:36%;
		position: relative;
		z-index: 1;
		h1,h2{
			max-width: 400px;
		}
		&:first-of-type{
			margin-left: 8%;
			width:50%;
		}
	}
	picture  img{
		position: absolute;
		width:calc(100% - #{$outer});
		height: auto;
		max-width: $max-width - 100px;
		bottom:0;
		left:50%;
		@include transform(translateX(-50%));
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
												Stacks
															    
------------------------------------------------------------------------------------------------------------- */

.stack{
	width:50%;

	position: relative;

	.image{		
		opacity: 0;
		top:50%;
		left:60%;
		width:75%;
		@include transform(translate3d(-50%, -50%, 0));
		@include fixedImage(67%);
		position: absolute;
		@include shadow( 0px 0px 0px 10px $text);
		transform-origin: center;
	}
	
		
}

.stack.stack-loaded.show-stack {
	.image{
		opacity: 1;
	}
	.image:nth-of-type(1){ @include stack_0(1.2s, 0.5s);}
	.image:nth-of-type(2){ @include stack_1(1.2s, 0.9s); }
	.image:nth-of-type(3){ @include stack_2(1.2s, 1.3s);}
	.image:nth-of-type(4){ @include stack_3(1.2s, 1.7s);}
	.image:nth-of-type(5){ @include stack_4(1.2s, 2.1s);}
	.image:nth-of-type(6){ @include stack_5(1.2s, 2.4s);}
	}

/* -----------------------------------------------------------------------------------------------------------
															    
												Drivers
															    
------------------------------------------------------------------------------------------------------------- */
.section--driver{
	.content{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		@include slim-content;
	}
	.content > .copy{
		width:40%;
	
		
	}
	.driver{
		width:52%;
		margin-top: $outer;
		padding:30px;
	}
	h2{
		max-width: 280px;
	}
	
}
.section--driver + .section--sign-off{
	  @include rule--lockup(margin-top,$softlockupmin, $softlockupmax, $lockupmin, $lockupmax);

	}
.driver{
	background-color: tint($background,10%);
	padding: 1.5 * $mb;
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(flex-start);
	@include flex-wrap(wrap);
	
}

.driver--podcast{
	.copy{
		width:55%;
	}
	.image-holder{
		width:37%;
		max-width: 200px;
		.cta{
			display: block;
			padding: 0;
		}
	}
	.image{
		@include fixedImage(79%);
		
		margin-bottom: $mb;
	}
}

.driver--news, .driver--job{
	h3{
		margin-bottom: 2*$mb;
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
													Sign off
															    
------------------------------------------------------------------------------------------------------------- */

.section--sign-off{
	background: $tertiary;
	@include soft-ends--lockup($softlockupmin, 32, $lockupmin, $lockupmax);
	.content{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		@include slim-content;
	}
	.image{
		width:25%;
	}
	.copy{
		width:69%;
	}
	.cta{
		&:hover, &:active{
		background: $text;
		color:$tertiary;  
		border-color: $text;
		}
	}
}

.columns{
	@include flexbox;
	@include justify-content(flex-start);
	
	@include flex-wrap(wrap);
	.column{
		width:32%;
		margin-right: 1.5%;
		&:nth-of-type(3n+3){
			margin-right: 0%;
		}
	}
	&:after{
		content: '';
		
		flex: auto;

	}
}

.section--people{
	.copy{
		max-width:360px;
		margin-bottom: $mb;
	}
	.content{
		width:78%;
		@include push--auto;
	}
	
	
	.columns:hover .card {
	  opacity: 0.6;
	}
	
	.columns:hover  .card:hover {
		opacity: 1;
		 .image{
			 border: none;
					img{
						@include transform(scale(1.05));
					}
		 }
}
	
	
}

.card--person{
	margin-bottom: $mb;
	@include transition(opacity .6s);
	h3{
		margin-bottom: 0;
	}
	.image{
		margin-bottom: $mb / 2;
		border: none;
		overflow: hidden;
		img{
			@include transition(transform .6s);
		}
	
	}
}

.section--quotes{
	.content{
	
		@include slim-content;
	}
	.quote-holder{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		margin-bottom: 4%;
		&:last-of-type{
			margin-bottom: 0;
		}
		.image{
			width:48%;
			overflow: hidden;
			
		}
		img{
			height: 100%;	
			object-fit:cover;
		}
		.copy{
			width:48%;
			background: $primary;
			padding: $outer;
			
		}
		h3{
			@include peopleh1;
			margin-top: $mb;
			margin-bottom: 5px;
		}
		&:nth-of-type(even){
			@include flex-direction(row-reverse);
			
		}
		&:nth-of-type(3n - 1) .copy{	background: $locations;}
		&:nth-of-type(3n) .copy{	background: $primary;}
		&:nth-of-type(3n + 1) .copy{	background: $tertiary;}

	}
	.columns:after{
		display: none;
	}
	.intro{
		max-width: 380px;
		width:36%;
		margin-bottom: $outer;
	}
	
	
}

.section--employees{
	//background:red;
	overflow: hidden;

	.content--inner{
		 @include soft-ends--lockup(50, 92, 750, 1600);
		background: rgba($text, .1);
		position: relative;
	}
	.copy, .quote{
		max-width: 381px;
		margin-left: 8%;
		
		width:36%;
		position: relative;
		z-index: 1;
		h1,h2{
			max-width: 345px; ///was 330px
		}
	}
	.copy{
		position: absolute;
	
		left:0;
		margin-left: 59%;
	}
	.quote{
		display: block;
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
		 //@include soft-ends--lockup($softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
		@include rule--lockup(margin-top, 100, 120, 960, $lockupmax);
		>:last-child{
			margin-bottom: 0;
		}
		h3{
			margin-top: $mb;
			margin-bottom: 0;
		}
	}
	.item--employee{
		width: 100%;
	
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		
	}
	.employee-image{
		width:48%;
		margin-left: calc(8% - 15px);
		position: relative;


		.image{
			@include fixedImage(78%);
			
			
		}
	
	}

	.employee-image + .quote{
		margin-left: 4%;
	}
	
	.carousel{
		pointer-events: none;
		padding-bottom: 40px;
		position: relative;
		>div{
			transition-duration: 0s !important;
		}
		>div > div{
			.image, .quote{ opacity: 0};
		}
		.active-slide{
			.image, .quote{
				opacity: 1;
				@include transition(opacity .5s);
			}
			
		}
		&:after{
			content:'';
			display: block;
			background-image:url(../images/svg/yellow_arm.svg);
			background-repeat: no-repeat;
			background-position: right top;
			position: absolute;
			height: 73px;
			width:200%;
			bottom:4px;
			right:calc(50% + 240px);
			z-index: 800;

		}
		&:before{
			content:'';
			width:48%;
			margin-left: calc(8% - 15px);
			height: calc(100% - 40px);
			position: absolute;
			top:0;
			left:0;
			box-shadow: inset 0px 0px 0px 15px white;
			z-index: 2;
		}
	}

	.button-controls {
		width:calc(100% + 40px);
		top:calc(50% - 40px);
	}
	
}
/* -----------------------------------------------------------------------------------------------------------
															    
											LOCATIONS
															    
------------------------------------------------------------------------------------------------------------- */
.section--locations{
	.content--inner{
		padding: calc(#{$outer} + 1vw);
		background-color:$locations; 
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		overflow: hidden;
	}
	.copy{
		width:36%;
		position: relative;
		z-index: 1;
		h1,h2{
			max-width: 400px;
		}
		&:first-of-type{
			
			width:50%;
		}
	}
	.locations{
		width: 100%;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
	}
	.tabs{
		width: 100%;
		 @include soft-ends--lockup($softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
		button{
			@include appearance(none);
			border:1px solid transparent;
			@include rounded(20px);
			color:$text;
			@include bodyfont;
			line-height: 2.2rem;
			background: $locations;
			min-width: 200px;
			@include transition(border-color, .2s);
			&:focus{ outline: none; }
			&.active{
				border-color:$text;
			}
			&:hover{cursor: pointer; cursor: hand;}
		}
	}
	.addresses{
		width:100%;
		@include flexbox;
		@include align-items(flex-start);
	
		
	}
	.listing{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		//opacity: 0;
		//position: absolute;
		top:0;
		left:0;
		width:0px;
		height: 0;
		min-height: 400px;
		
		overflow: hidden;
		@include transition(opacity .3s .1s);
		&.active{
			opacity: 1;
			width:100%;
			height: auto;
			background: none;
			overflow: visible;
		}
	}
	.offices{
		width:50%;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
	}
	address{
		font-style: normal;
		@include addressfont;
		margin-bottom: 2*$mb;
		width:48%;
		h3{
			margin-bottom: $mb/2;
		}
		a{
			color:$text;
		}
	}
	.stack{
		width:45%;
		margin-top: 14%;
	}
}

.post-content{
	.content-wrapper{
		background-color: tint($background,10%);
		@include soft-ends--lockup($softlockupmin, 100, $lockupmin, $lockupmax);
		@include soft-sides--lockup($softlockupmin, 105, $lockupmin, $lockupmax);
		>h4, h1{
			margin-bottom: 1.5*$mb
		}
		>.image{
			margin: 3*$mb 0;
			@include fixedImage(50%);
		}
	}
	
	.copy{
		max-width: 680px;
	}
	
	
}

.single-job, .page-template-t_single-job{
	
	
	
	.post-content .content-wrapper > h4 + h1{
		margin-bottom: 0;
	}
	.title-location{
		color:$text_gray;
	}
}

.lever_description{
	margin-bottom: $mb;
}
.lever_cta{
	margin-top: $mb;
}
.lever_lists{
	strong + ul{
		
		margin-top: $mb;
	}
}

#cookie-law-info-bar{
	text-align: left;
	padding: 20px 30px;
	h5{
		@include h3;
		margin-bottom: 0;
	}
	span{
		@include tinyfont;
		display: block;
		width:100%;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include flex-wrap(wrap);
	}
	p{
		width:60%;
	}
	
	.cli-plugin-main-button{
		@include cta;
		&:hover{
			background: $primary !important;
			color:$text;
		}
	}
}



/* -----------------------------------------------------------------------------------------------------------
															    
												Feature page
															    
------------------------------------------------------------------------------------------------------------- */
.no-bg + .section--content{
	padding-top: 0;
}
.section--content {
	.content{
	
		@include push--auto;
	}
		
	.content--inner{
			
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		
	}
	.content--inner > .copy{width:40%; margin-left: 7.5%;}
	
	.side-bar{
		width:33.5%; 
		margin-right: 7.5%;
				
	}
	
}
.side-bar{
	h4{
		font-weight: 500;
	}
	.item{
		@include flex-direction(column-reverse);
		@include justify-content(flex-end);
		background-color: rgba($text,.1);
		.copy{
			width:100%;
			margin-left: 0;
		}
		
		.cta{
			margin-top: $mb;
		}
		.image{
	//		background: tint($background,20%);
			width:20%;
			@include fixedImage(100%);
			margin-bottom: $mb;
			
			img{
				object-fit:contain;
				max-width: 100%;
				min-height: inherit;
			}
		}

		
	}
}

/* -----------------------------------------------------------------------------------------------------------
															    
										Singhle country
															    
------------------------------------------------------------------------------------------------------------- */

.single-country{
	.content--inner{
		background-color: $locations;
		//padding-bottom: 100px;
	}
}

.country-header{
	.copy-header{
		max-width: 400px;
		margin-bottom: 3*$mb;
	}
	.details{
		position: absolute;
		bottom:18%;
		left:8%;
		p{
			margin-top: 0;
			font-weight: 500;
		}
	}
	.content--inner{
		@include justify-content(space-between);
	
		}
	.header-image{
		width:45%;

		@include fixedImage(68%);
		overflow: visible;
		
		
		img{
			object-fit:contain;
			width:100%;
			
		}
		&:before{
			content:'';
			position: absolute;
		
			display: block;
			width:100%;
			height: 100%;
			background: linear-gradient(180deg, $tertiary 50%, $background 51%);;
			@include transform(rotate(-4deg));
			@include shadow(inset 0px 0px 0px 10px white);
			outline: 2px solid white;
			outline-offset: -1px;
		}
	}
}

.country--content{
	.content--inner{
			
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		@include rule--lockup(padding-bottom, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);
	
	}
	
	.content--inner > .copy{ 
		width:40%; 
		margin-left: 8%; 
		max-width: inherit;
		padding-top: 28px;
		}
	.side-bar{
		width:33.5%; 
		margin-right: 0%;
		margin-left:3%;
				
	}
	p + h5{
		margin-top: $mb;
	}
}

/* -----------------------------------------------------------------------------------------------------------
															    
												Countries
															    
------------------------------------------------------------------------------------------------------------- */
$sh: 720px;
.section--countries{
	position: relative;
	.content{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
	}
	.copy{
		width:30%;
		margin-left: 8%;
	}
	
	picture > img{
		position: absolute;
		width:auto;
		height: 310px;
		@include rule--lockup(bottom,$softlockupmin, $softlockupmax, $lockupmin, $lockupmax);;
		left:50%;
		@include transform(translateX(-136%));
	}
	
	
	#country-scroller{
		width:41%;
		min-width: 440px;
		position: relative;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		//min-height: calc($sh + 40px);
	}
	.countries{
		height: $sh;
		overflow: scroll;
		//iphone scroll
		 -webkit-overflow-scrolling: touch;
		width:calc(100% - 40px);
		-ms-overflow-style: none;
		padding-bottom: 442px; ///(2*220px)
		scrollbar-color: transparent transparent;
		&::-webkit-scrollbar {
			display: none;
		}
		dd {
				
			height: 220px;
			background: rgba($text,.1);
			margin-bottom: 10px;
			display: block;
			position: relative;
			overflow: hidden;
			
			.country-link{
				display: block;
				width:100%;
				height: 100%;
				border:none;
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(flex-start);
				@include flex-direction(column);
				@include flex-wrap(wrap);
	
				
			}
			h3{
				padding: 27px 0px 0 27px;
				font-weight: 500;
				color:$text;
			}
			p{
				@include smallfont;
				margin-left: 27px;
				color:$text;
				//font-weight: 500;
			}
			.cta{
				margin-left: 27px;
				margin-bottom: 27px;
				height: 40px;
				line-height: 39px;
			}
			&.country-hide{
				display: none;
				pointer-events: none;
			
			}
			&.current-country{
				@include shadow(inset 0px 0px 0px 1px $text);
				.cta{
					opacity: 0;
					pointer-events: none;
				}
				.country-link{
						pointer-events: none;
				}
			}
		}
		dt {
			background: $background;
			 height: 40px;
			 line-height: 40px;
			  margin: 0;
			  padding: 2px 0 0 0px;
			  position: -webkit-sticky;
			  position: sticky;
			  top: -1px;
			  z-index: 2;
			  h2{
				  @include carouselnav;
			  }
			}
		.image{
			position: absolute;
			right:0;
			top:0;
			height:219px;
			width:270px;
			img{
				height: 100%;
				width:auto;
				bottom:0;
			}
		}
	}
	
	#search-countries{
		position: relative;
		width: 100%;
		max-width:274px;
		margin-top: 2*$mb;
	}
	.country-search{
		position: relative;
		
		width: 100%;
		
		z-index: 20;
		@include appearance(none);
		@include font-size(16);
		font-weight: normal;
		@include transition(border-color .3s);
		height: auto;
		
		padding-bottom: 5px;
		border:none;
		border-bottom: 1px solid tint($background,40%);
		background-image: url(../images/svg/icon-magnify.svg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 18px 100%;
		background-color: transparent;
		color:$text;
		&:focus{
			border-color: $text;
		}
		
	}
	.close-input{
		position: absolute;
		opacity: 0;
		pointer-events: none;
		top:0px;
		width: 27px;
		height: 27px;
		right:0px;
		z-index: 21;
		@include appearance(none);
	
		border:none;
		background-image: url(../images/svg/cross-white.svg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 15px auto;
		background-color: $background;
		&:hover{
			cursor: pointer;cursor: hand
		}
	}
	.alphabet{
		margin-top: 40px;
		@include transition(opacity .5s);
		@include flexbox;
		@include justify-content(space-between);
	
	
		@include flex-direction(column);
	}
	.alphabet a{
		width:20px;
		display: block;
		color:$text;
		opacity: .3;
		@include font-size(16,1.5);
		font-weight: 500;
	
		border:none;
		padding-bottom: 2px;
		&.active,  &:active{
			opacity: 1;
			
		}
		
		&.disabled{
			//opacity: .15;
			pointer-events: none;
		}
	}
	.target{
		display: block;
		position: relative;
		width:100%;
		height: 0px;
		
	}
}

.no-touch .section--countries {
	.alphabet a:hover{
		opacity: 1;
	}
}

.section--countries{
	.copy{
		position: relative;
	}
	#search-countries{
		position: absolute;
		left:0;
		margin-top:0;

		top:200px;
		&.focused{
			//background: rgba(yellow,.2);
			.close-input{
				opacity: 1;
				pointer-events: all;
				}
			
		}
		
		}
	#country-scroller{

		
		&.input{
			//background: rgba(red,.2);
			dt{
				display: none;
			}
			.countries{
				opacity: 0;
				margin-top: 40px;
				height: calc(#{$sh} - 40px);
			}
			.alphabet{
				opacity: .5;
				pointer-events: none;
			}
			
		}
		
		
	}
	.no-results-text{
		display: none;
		text-align: center;
	}
	.countries{
		dd.country-hide{
			display: none;	
		}
		&.no-results{
			.no-results-text{
			display: block;
			}
		}
	}
}

@media (max-width: 1200px) { 

.section--countries{

	
	picture > img{
		right:70%;
		left:auto;
		@include transform(translateX(0%));
	}
}
	
}

/* -----------------------------------------------------------------------------------------------------------
															    
											Diversity
															    
------------------------------------------------------------------------------------------------------------- */

.section--diversity{
	 @include soft-ends--lockup($softlockupmin, 90, $lockupmin, $lockupmax);
	.content--inner{
		
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		//	background: blue;
	}
	.copy{
		
		max-width: 381px;
		margin-left: 8%;
		margin-right: 6%;
		width:36%;
		position: relative;
		z-index: 1;
		
		h1,h2{
			max-width: 381px; ///was 330px
			margin-bottom: 2*$mb;
		}
	}
	
	.diversity-carousel{
		
		position: relative;
		width:49%;
		min-height: 500px;
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(center);
		overflow: hidden;
		
		.carousel{
			width:58%;
			margin-left: 0%;
			margin-top: 5%;
			
		}
		.item{
			
			width:100%;
			padding: 0 15%;
			//background: red;
			@include fixedImage(90%);
			opacity:1;
			@include flexbox;
		
			@include align-items(center);
	
		
			
		}
		.active-slide .item{
			opacity: 1;
		}
		.big-title{
			@include h2;
			font-weight: bold;
			margin-bottom: 0;
		}
		p{
			margin-top: 0;
		}
		
		&:after{
			content:'';
			position: absolute;
			pointer-events: none;
			display: block;
			top:0;
			left:0;
			height: 100%;
			width:100%;
			background-image: url(../images/svg/carousel-magnify-desktop.svg);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
		
	}
	
	.carousel-pagination{
		position: absolute;
		width:58%;
		
		top:72%;
	}
}


/* -----------------------------------------------------------------------------------------------------------
															    
												Benfits
															    
------------------------------------------------------------------------------------------------------------- */
.section--benefits{
	.content--inner>.copy{
		max-width: 381px;
		margin-left: 8%;
		
		width:36%;
		position: relative;
		z-index: 1;
	}
	
	
}
.listing--benefits{
	@include flexbox;
	@include justify-content(flex-start);
	@include align-items(center);
	@include flex-wrap(wrap);
	width:100%; // was 84%
	padding: 0 8%;
	@include push--auto;
	margin-top: 4*$mb;
	article{
		width:30%;
		margin-right: .5%;
		//background: red;
		&:nth-of-type(3n+3){
			margin-right: 0;
		}
		@include fixedImage(33%);
		.image{
			width:24%;
			margin-bottom: $mb;
			@include fixedImage(100%);
		}
		p{
			font-weight: bold;
			max-width: 194px;
			line-height: 1.4rem;
		}
	}

}

.section--benefits{
	.carousel-pagination, .button-controls{
		display: none;
	}
}

.mobile-carousel-show{
	
	.section--benefits{
	
		.copy{
			margin-left: 0px;
			width:100%;
			max-width: 260px;
			margin-bottom: 55px;
		}
		.content{
			@include soft--sides(10px);
			
		}
		.content--inner{
			background: tint($background,10%);
			padding-top: 40px;
			padding-bottom: 120px;
			@include soft--sides(20px);
				
		}
	}

	.listing--benefits{
		display: block;
		margin: 0;
		padding: 0;
		width:100%;
		article{
			width: 100%;
			margin-right: 0;
			opacity: 1;
			&:after{
				display: none;
			}
			.image, p{
				max-width: 206px;
				@include push--auto;
				width:100%;
			}
			p{
				text-align: center;
				@include font-size(18);
				margin-bottom: $mb;
				
			}	
		}
	}
	.section--benefits .carousel-pagination{
		display: block;
	}
}
	

/* -----------------------------------------------------------------------------------------------------------
															    
												JOBS
															    
------------------------------------------------------------------------------------------------------------- */

.section--jobs{
	z-index: 1;
	position: relative;
	width:100%;
	//overflow: hidden;

	.content--inner>.copy{
		max-width: 460px;
		margin-left: 8%;
		
		width:46%;
		position: relative;
		z-index: 1;
		p:first-of-type{
			margin-top: $mb;
		}
	}
	.listing-filters{
		margin-left: 8%;
		margin-top: 2*$mb;
		margin-bottom: 6*$mb;
		
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(center);
		@include flex-wrap(wrap);
		fieldset{
			margin-right: 2%;
		}
	}
}

.listing--jobs{
	@include flexbox;
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include flex-wrap(wrap);
	@include transition(opacity .3s);
	&.loading{
		opacity: 0;
			@include transition(opacity 0s);
	}
	position: relative;
	.entry--job{
		width:32%;
		margin-right: 2%;
		margin-bottom: 2%;
		&:nth-of-type(3n + 3){
			margin-right: 0;
		}
	}
	&.show-arm:before{
		content:'';
		width:100vw;
		background:  url(../images/svg/yellow_arm_2.svg) no-repeat;
		background-position: calc(50vw + 400px) top;
		background-size: auto 100%;
		position: absolute;
		height: 86px;
		left:50%;
		@include transform(translateX(-50%));
		top:-65px;
		pointer-events: none;
		z-index: 20;
		@media (max-width: 1440px) {  background-position: calc(80vw) top };
	}
	
}

.entry--job{
	position: relative;
	.title{
		min-height: 143px;
	}
	h3{
		margin-bottom: 5px
	}
	> a{
		position: absolute;
		width:100%;
		height: 100%;
		left:0;
		top:0;
		border:none;
		font-size: 0;
		
		&:hover, &:active{
			background: rgba($text,.05);
		}
		
	}
	.mobile-touch{
		display:none;
	}
	.date{
		display: block;
		@include font-size(12);
			font-weight: 500;
			margin-bottom: 5px;
	}
	.categories{
		font-weight: 500;
		color:$text_gray;
		margin-bottom: $mb;
	}

}


/* -----------------------------------------------------------------------------------------------------------
															    
												REWARDS
															    
------------------------------------------------------------------------------------------------------------- */
.section--jobs, .section--rewards{
	.loading-content{
		position: relative;
		min-height: 300px;
		&:after{
			content:'';
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			min-height: 300px;
			background: url(../images/png/loading-dark.gif) no-repeat center top 100px;
			@include fade-in(.5s, .2s);
			z-index: -1;
		}
		
	}
	
}

.section--rewards{
	overflow: hidden;
	h2{
		margin-bottom: $mb;
	}
	.loading-more:after{
	//.wrapper:after{
			content:'';
			position: absolute;
			//bottom:0px;
			left:0;
			bottom:0;
			width:100%;
			height: 100px;
			 @include rule--lockup(bottom, $softlockupmin, $softlockupmax, $lockupmin, $lockupmax);

			background: url(../images/png/loading-dark.gif) no-repeat center 58%;
			
			@include fade-in(.5s, .2s);
			z-index: -1;
		}
	.load-more{
		width: 100%;
		text-align: center;

		@include flexbox;
		@include justify-content(center);
		@include align-items(flex-end);
		
		a{
			display: inline-block;
			line-height: 46px;
			margin-top: 34px;
			margin-bottom: 20px;
			border:1px solid white;
			color:white;
			padding: 0 30px;
			min-width: 160px;
			@include rounded(50px);
		}
	}
}

.listing--rewards{
	@include flexbox;
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include flex-wrap(wrap);
	
} 

.entry--reward{
	width:23%;
	background: white;
	color:black;
	margin-bottom: 2.6%;
	position: relative;
	padding: 0;
	margin-right: 2.6%;
	background: white;
	a{
		color:$background;
		width:100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		border: none;
		&:after{
			content:'';
			position: absolute;
			display: block;
			z-index: 1;
			width:100%;
			height: 100%;
			left:0;
			top:0;
			opacity: 0;
			background:black;
			@include transition(opacity .3s);
		}
		&:hover:after{
			opacity: .2;
			border: none;
		}
	}
	&:nth-of-type(4n+4){
		margin-right: 0;
		
	}
	
	&:nth-of-type(1), &:nth-of-type(12){
		&:before{
			content:'';
			width:50vw;
			height: 60px;
			top:50%;
			transform-origin: center;
			pointer-events: none;
			z-index: -1;
			
			background:  url(../images/svg/yellow_arm.svg) no-repeat;
			background-position: right top;
			background-size: auto 100%;
			position: absolute;
		}
	}
	
	&:nth-of-type(12){
		&:before{
			
			right:calc(-50vw + 31px);
			top:50%;
			transform-origin: center;
			@include transform(rotate(180deg) translateY(50%));
		
		
			
			
		}
	}
	
	&:nth-of-type(1){
		&:before{
			left:calc( 31px - 50vw);
			@include transform(translateY(-50%));
		}
	}
	
	.copy{
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		width: 100%;
		
		padding:1.5* $mb;
		background: white;
		
		text-align: center;
		
	}
	.points{
		position: absolute;
		top:0;
		z-index: 2;
		right:0;
		background: $locations;
		color:white;
		min-width:131px;
		line-height: 48px;
		padding-left: 18px;
		padding-right: 18px;
	}
	.image{
		margin-top:48px;
		width:100%;
	
		@include fixedImage(80%);
		
		img{
			width:auto;
			min-height: inherit;
			min-width:inherit;
			max-height: 100%;
			max-width: calc(100% - 40px);
			
		}
		
	}
	&.full-bg{
		.image{
			margin: 0;
			width:100%;
			&:after{
				padding-top: calc(80% + 48px);
			}
		}
		img{
			max-width:inherit;
			max-height: inherit;
			height:101%;
			&.portrait{
				width:101%;
				height: auto;
			}
		}
	}
}

.listing {
	.pagination{
		width:100%;
		text-align: center;
		margin-top: $mb;
		.nav-links{
			display: inline-block;
			width:auto;
			@include push--auto;
			height: 40px;
			position: relative;
			&:before, &:after{
				content:'';
				display: inline-block;
				vertical-align: middle;
				width:40px;
				height: 40px;
				border:1px solid $text;
				@include font-size(0);
				@include rounded(40px);
				opacity: .4;
				pointer-events: none;
			}
			&:after{
				background: url(../images/svg/arrow-right-white.svg) no-repeat 55% center;
				margin-left: $mb;
			}
			&:before{
				background: url(../images/svg/arrow-left-white.svg) no-repeat 45% center;
				margin-right: $mb;
			}
		}
		a, span{
			display: inline-block;
			margin: 0 10px;
			vertical-align: middle;
			@include font-size(16);
			color:$text;
			font-weight: 500;
			width:15px;
			border-width:2px;
		}
		.current{
			border-bottom: 2px solid $text;
		}
		.next, .prev{
			width:40px;
			height: 40px;
			border:1px solid $text;
			vertical-align: middle;
			@include font-size(0);
			@include rounded(40px);
			position: absolute;
			box-shadow: 0px 0px 0px 1px $background;
			
		}
		.next{
			background: $background url(../images/svg/arrow-right-white.svg) no-repeat 55% center;
			margin-left: $mb;
			margin-right: 0;
			top:1px;
			right:1px;
		}
		.prev{
			background: $background url(../images/svg/arrow-left-white.svg) no-repeat 45% center;
			margin-right: $mb;
			margin-left: 0;
			top:1px;
			left:1px;
		}
	}
}

.category-list{
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	
	margin-bottom: 2 * $mb;
	
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
  
	&::-webkit-scrollbar {
   	 width: 0px;
   	 background: transparent; /* make scrollbar transparent */
	}
	&::-webkit-scrollbar { 
    	display: none;  /* Safari and Chrome */
	}
	li{
		flex-grow:1;
		text-align: center;
		a{
			display: block;
			line-height: 7rem;
			background: rgba(white,.1);
			color:rgba(white,.5);
			border:none;
			border-right:1px solid black;
			&:hover{
				//border:none;
			}
			&.active, &:active{
				color:white;
				background: transparent;
				@include shadow(inset 0px 0px 0px 5px rgba(white,.1));
			}
			&:hover{
				color:white;	
				border-color: black;
			}
		}
	}
}

.table-title{
		width:65%;

	@include push--auto;
	margin-bottom:2* $mb;
	@include largefont;
}

.section--points{
overflow: hidden;	
}

.points-table{
	width:65%;
	background: white;
	position: relative;
	@include push--auto;
	th{
		background: $primary;
		color:white;
		font-weight: 500;	
	}
	th:nth-of-type(1){
	
		width:62%;
	}
	td{
		color:black;
		&:first-of-type{
			  @include addressfont;
		}
	}
	th, td{
		padding: 5px 1.5 * $mb;
		
	height: 76px;
		    vertical-align: middle;
		  
	}
	tr:nth-of-type(even){
		background: #F9EFF7;
	}
	&:before, &:after{
		width:50vw;
		z-index: -1;
		position:absolute;
		pointer-events: none;
	}
	&:before{
			content:'';
			height: 60px;
			top:48px;
			left:calc(-50vw + 1px);
			background:  url(../images/svg/yellow_arm-points-left.svg) no-repeat;
			background-position: right top;
			background-size: auto 53px;
		
		}
	&:after{
			content:'';
			height: 237px;
			bottom:48px;
			right:calc(-50vw + 1px);
			background:  url(../images/svg/yellow_arm-points-right.svg) no-repeat;
			background-position: left top;
			background-size: auto 237px;
	}
	
}

.section--form{
	.content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.form-holder{
		max-width: 500px;
		width:50%;
	}
	.form-intro{
		margin-bottom: 2* $mb;
	}
	.image{
		width:50%;
		//width: calc(50% - 500px);
		
	}
}


.single-white-paper,
.single-article,
.single-interview{
	.post-content{
		padding-bottom: 0;
	}
}
.single-interview,
.single-white-paper{
	.content-wrapper{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.cover{
		width:17%;
		margin-right: 3%;
		//background-color: black;
		min-height: 200px;
		img{
			width:100%;
			height: auto;
			
		}
		a.download{
			@include smallfont;
			margin-top: 20px;
			display: block;
			text-align: center;
			color:white;
			text-transform: uppercase;
			&:hover{
				border-color: transparent;
				color:$primary;
			}
		}
	}
	.sidebar--podcast{
		width:17%;
		margin-right: 3%;
		min-width: 180px;
		.image{
			margin-bottom: 20px;
		}
		.cta{
			width:100%;
		}
	}
	h1.has-author{
		margin-bottom: .5 * $mb;
		&  + h4 {
			margin-bottom: $mb;
			font-weight: bold;
			a{
				color:white;
				&:hover{
					color: $primary;
					border-color: transparent;
				}
			}
		}
		&  + h4 span{
			font-weight: normal;
			padding-left: 5px;;
		}
	}
	.cover + .copy{
		width:80%;
		max-width: inherit;
	}
	.readmore{
		width:20%;
		margin-left: 2%;
		span{
			display: block;
		}
		a{
			color:white;
			display: inline-block;
			margin-bottom: $mb / 2;
			@include smallfont;
			&:hover{
				//color: $highlight;
			}
		
		}
		a[target=_blank]:after {
			content: "↗";
			font-size: 12px;
			padding-left:4px;
		}

	}
	.copy-inner{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.copy{
			width:80%;
			max-width: 680px;
		}
	}
	.people-modal{
		opacity:.2;
		pointer-events: none;
		transform: translateY(-100%);
	}
	&.show-bio .people-modal{
		opacity: 1;
		pointer-events: all;
		transition: opacity .3s, transform 0s;
		transform: translateY(0);
	}
	.close-bio:hover{
		cursor: pointer;
	}
}

.single-interview,
.single-article{
	.copy{
		margin-left: 11%;
		max-width: inherit;
		width:calc(100% - 22%);
	}
}

.single-interview,
.single-article,
.single-white-paper{
.date{
	@include smallfont;
	display: block;
	margin-bottom: $mb;
}
}

.single-interview .has-podcast{
	.copy{
		margin-left: 0%;
	}
}
.section--archive .archive-list-holder,
.section--webinar .webinar-section {
	
	article{
		margin-bottom: 3 * $mb;
		
		h1{
			@include h2;
		}
		span{
			@include h4;
			display: block;
		
			//margin-bottom: 0;
		}
		.cat-links{
			@include h4;
		
		}
	}
	a{
		color:white;
		border-color: transparent;
		h1{
			transition: color .3s;
		}
		&:hover h1{
			border-color: transparent;
			color: $primary;
		}
	}

}
.section--archive{
	padding-bottom: 0;
	.content{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		min-height: 90vh;
	}
	.copy{
		width:50%;
		
	}
	.image{
		width:48%;
		
	}
	.archive-list-holder{
		margin-top: 3 * $mb;
		.copy{
			width:100%;
		}
	}
	.load-more a{
		@include cta;
	}
}

.archive-categories{
	position: relative;
	width:60%;
	@include smallfont;
	margin: $mb 0;
	z-index: 2;
	.legend{
		position: relative;
		min-width: 200px;
		height: 37px;
		line-height: 37px;
		border: 1px solid #fff;
		border-left-color: rgba(255, 255, 255, 0);
		border-right-color: rgba(255, 255, 255, 0);
		border-top-color: rgba(255, 255, 255, 0);
		padding: 0 0 0 10px;
		background: #000;
		position: relative;
		z-index: 1;
		transition: border-color .3s;
		svg{
			margin-right: 10px;
			transform-origin: center;
			width: 10px;
			height: 4px;
			position: absolute;
			right: 0;
			top: calc(50% - 2px);
		}
		&.list-open{
			border-left-color: white;
			border-right-color: white;
			border-top-color: white;
			& + .list-categories{
				opacity: 1;
				pointer-events: all;
			}
			svg{
					transform: rotate(180deg);
			}
		}
	}
	.list-categories{
		border: 1px solid $text;
		transform-origin: top center;
		opacity: 0;
		padding:10px;
		position: absolute;
		width:100%;
		top:37px;
		left:0;
		pointer-events: none;
		overflow-y: auto; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
		max-height: 320px;
		background-color: $background;
		transition: opacity .3s;
	}
	a{
		color:white;
		line-height: 28px;
		width:100%;
		display: block;
		&:hover{
			border-color: transparent;
			color:$primary
		}
	}
	svg{
		pointer-events: none;
	}
}

.section--webinar{
	padding-bottom: 0;
	.content > .copy{
		//margin-left: 8%;
		width:42%;
		margin-bottom: 2 * $mb;
	}
	.mobile{
		display: none;
	}
	.webinars-lists,
	.webinar-intro{
		display: flex;
		justify-content: space-between;
	}
	.webinar-intro-section,
	.webinar-section{
		width:49%;
		.entry{
		transition: opacity .3s;
		}
		&.hide-for-filtering .entry{
			opacity: 0;
			transition: opacity 0s;
		}
	}
	.webinar-categories{
		margin-bottom: 40px;
		margin-top: 0;
	}
	.webinar-intro-section .image{
		padding-right: 10%;
	}
	.webinar-intro{
		margin-bottom: 2 * $mb;
		.copy{
			padding-right: 10%;
		}
		.image{
			width:50%;
			@include push--auto;
			margin-bottom: 2 * $mb;
		}
	}
	.webinars-lists{
		.webinar-section{
			.entry{
				padding-right: 17%;
				margin-bottom: 2 * $mb;
			}
		}
		
	}
	.filter-hide{
		display: none;
		& + article hr{
			display: none;
		}
	}
}



@media (max-width: $desktop) { @import 'scss/media/desktop';}

@media (max-width: $tablet) { @import 'scss/media/tablet';}

@media (max-width: $phablet) { @import 'scss/media/phablet';}

@media (max-width: $mobile) { @import 'scss/media/mobile';}


