
@import 'scss/vars';
@import 'scss/mixins';
//@import 'scss/fonts';
//@import 'scss/buttons';
//@import 'scss/forms';

body.login{
overflow: hidden;

background:$background;

a,  p,  label, span,  #backtoblog a,  #nav a{
	//color:$text;
}

#login{
	
	padding: 2% 3%;
	@include rounded(4px);
	width:auto;
	max-width:500px;
	margin-top: 5%;
}
#loginform{

	border:none;
	
	@include rounded(0px);
	@include shadow(0px 0px 0px 0px rgba(0,0,0,0));
}
 #loginform .button-primary{
	background: $highlight;

	text-shadow: none;
	border:none;
	@include shadow(none);
	@include rounded(4px);
}

#login_error,  .message,  #login_error,  .message{
	//color:$text;
	@include rounded(0px);
	//border: none;
}


.privacy-policy-page-link a, #backtoblog a, #nav a{
	color:white;
}

#login h1 a{
	background-image: url(../images/favicon.png)!important;
}
}

